/** General **/
@bgd: #FFFFFF;
@whoBlue: rgb(23, 128, 201);
@white: #FFF;
@orange: rgb(23, 128, 201);
@dark-grey: #272727;
@grey: #424142;

@blue: #1565C0;
@mediumBlue: #64B5F6;
@lightBlue: #E3F2FD;
//@red: #C62828;
@lightRed: #FFEBEE;
//@green: #3c763d;
@lightGreen: #dff0d8;
@amber: #8a6d3b;
@lightAmber: #fcf8e3;
@defaultBorder: 1px solid #dadada;

@red: rgb(190, 97, 107);
@orange: rgb(207, 135, 114);
@yellow: rgb(234, 202, 143);
@green: rgb(164, 189, 142);
@purple: rgb(179, 143, 172);

@itemGreyBgd: rgb(247, 249, 246);

@defaultTxtColor: #525252;
@highlightTxtColor: #333333;
@defaultFontSize: 12px;

@defaultPadding: 8px;
@defaultMargin: 8px;

/** Header **/
@headerBgd: #FFF;
@headerColor: #333;
@headerBorderBottom: none;

/** Links **/
@linkColor: #333;
@linkHoverColor: rgb(23, 128, 201);

/** Tabs **/
@ideTabBarWingBgd: rgb(51, 51, 51);
@ideTabBarWingColor: #FFF;
@ideTabBarActiveBgd: #EDF1F4;
@ideTabBarBorder: #dadada;

/** Modal **/
@modalBgd: #FFFFFF;
@modalBorder: 1px solid #dadada;

/** Wizard **/

/** DataTable **/

/** Buttons **/

/** Lists **/

/** Widgets **/

/** Toolbar **/
@ideTbarBgd: rgb(237, 241, 244);
@ideTbarBorderBottom: 1px solid #dadada;
@ideTbarBorderTop: 1px solid #dadada;
@ideTbarTxtColor: @defaultTxtColor;

/** Fields **/

/** Panel **/

/** Form **/

/** Prompts **/

/** Notifications **/

/** Layout **/
@idePanelBorder: 1px solid #dadada;

/** IDE DataTable **/
@ideBgd: #FFFFFF;
@ideDTBorder: 1px solid #dadada;

@ideDTHeaderBgd: #F2F2F2;
@ideDTHeaderBorderBottom: 1px solid #dadada;
@ideDTHeaderColor: #333;

@ideDTRowBorderBottom: 1px solid #dadada;
@ideDTRowBorderTop: 1px solid #dadada;

@ideDTCellColour: #333;
@ideDTCellBgd: #FFFFFF;

/** Footer **/
@footerBorderTop: 1px solid #dadada;
@footerBgd: #F2F2F2;

/** Blocks **/
@block-color: #333;
@block-bgd: transparent;
@block-border: 1px solid #dadada;

/** MIsc. **/
@fillerColor: #f5f5f5;


/** Inline GRid **/
@ideInlineGridHeaderBgd: #2e2e2e;
@ideInlineGridHeaderBorder: 1px solid #292929;
@ideInlineGridHeaderColor: #F1F1F1;
@ideInlineGridCellBgd: #202020;
@ideInlineGridCellBorder: 1px solid #232323;
@ideInlineGridCellColor: #F1F1F1;

/** Forms **/
@inputBgd: @ideBgd;
@inputBorder: 1px solid #e3e7e9 !important;
@inputBorderFocus: 1px solid #4b82bf !important;
@inputBorderRadius: none;

/** Location Selector **/
@localeHover: #ECECEC;

/** Buttons **/

@bttnBorder: 1px solid #d9d9d9;
@bttnColor: #333;
@bttnBackground: white;
@bttnActiveBackground: #4f4f4f;
@bttnActiveColor: #F2F2F2;
@bttnDisabledTxtColor: #989898;

@dtRowBgd: rgba(0,0,0,0.05);
@tipColor: #F2F2F2;


@import '../base/ewars';

