{% extends 'email_template.html' %}

{% block content %}


<p>A <strong>{{data.form_name}}</strong> that you recently submitted has triggered the following alert:</p>

<p>
    <strong>Name: </strong> {{data.alarm_name}}<br/>
    <strong>Location: </strong> {{data.alert_location}}<br />
    <strong>Date: </strong> {{data.trigger_period}}
</p>

<p>You can view more information and take actions on the alert <a href="http://ewars.ws/alert#?uuid={{data.alert_uuid}}">here</a></p>

{% endblock content %}