{% extends 'email_template.html' %}

{% block content %}

<p class="lead">Hi {{recipient.name}}, a new message has been posted in the alert <strong>{{data.alarm_name}} - {{data.location_name}}</strong> by <strong>{{data.writer_name}}</strong></p>

<pre>{{data.msg}}</pre>

{% endblock content %}