{% extends 'email_template.html' %}

{% block content %}

<p>Hi {{recipient.name}}, a recent alert has been confirmed for the alarm
    <strong>{{data.alarm.name.en}}</strong> by
    <strong>User</strong>. Alarm details are listed below:</p>

<table>
    <tr>
        <th>Alarm Name</th>
        <td>{{data.alarm.name.en}}</td>
    </tr>
    <tr>
        <th>Triggering Report</th>
        <td>
            <a href="http://ewars.ws#/reporting/report/{{data.triggering_report.uuid}}">View Report</a>
        </td>
    </tr>
    <tr>
        <th>Triggering Value</th>
        <td>{{data.triggering_value}}</td>
    </tr>

</table>
{% endblock content %}
