{% extends 'email_template.html' %}

{% block content %}
<p class="lead">His {{recipient.name}}, you have been added to an
    <strong>Outbreak Response</strong> within EWARS. Please login to review the outbreak and any assignment which may have been assigned to you.
</p>

{% endblock content %}
