@bgd: #333 url("../../image/c9-noise.png");

@whoBlue: rgb(23, 128, 201);
@white: #FFF;
@orange: rgb(23, 128, 201);
@dark-grey: #272727;
@grey: #424142;

@blue: #1565C0;
@mediumBlue: #64B5F6;
@lightBlue: #E3F2FD;
@red: #C62828;
@lightRed: #FFEBEE;
@green: #3c763d;
@lightGreen: #dff0d8;
@amber: #8a6d3b;
@lightAmber: #fcf8e3;
@defaultBorder: #232323;

@itemGreyBgd: rgb(247, 249, 246);

/** General **/
@defaultTxtColor: rgb(173,173,173);
@highlightTxtColor: #FFFFFF;
@defaultFontSize: 12px;

/** Header **/
@headerBgd: #333;
@headerColor: #F2F2F2;
@headerBorderBottom: 1px solid #000000;

/** Toolbar **/
@ideTbarBgd: #313131;

@ideTbarBorderBottom: 1px solid #262626;

@ideTbarBorderTop: 1px solid #434343;

/** Layout **/
@idePanelBorder: 1px solid #272727;

/** Footer **/
@footerBorderTop: 1px solid #2b2b2b;
@footerBgd: #333333;

/** IDE DataTable **/
@ideBgd: rgb(60, 63, 65);
@ideDTBorder: 1px solid rgb(38, 38, 38);

@ideDTHeaderBgd: #2e2e2e;
@ideDTHeaderBorderBottom: 1px solid #292929;
@ideDTHeaderColor: #969696;

@ideDTRowBorderBottom: 1px solid #232323;
@ideDTRowBorderTop: 1px solid #353535;

@ideDTCellColour: #F1F1F1;
@ideDTCellBgd: #202020;

/** Blocks **/
@block-color: #F1F1F1;
@block-bgd: rgba(255, 255, 255, 0.06);;
@block-border: none;

/** Modal **/
@modalBgd: #333333;
@modalBorder: 1px solid #232323;

/** MIsc. **/
@fillerColor: #2f2f2f;

/** Inline GRid **/
@ideInlineGridHeaderBgd: #2e2e2e;
@ideInlineGridHeaderBorder: 1px solid #292929;
@ideInlineGridHeaderColor: #F1F1F1;
@ideInlineGridCellBgd: #202020;
@ideInlineGridCellBorder: 1px solid #232323;
@ideInlineGridCellColor: #F1F1F1;


/** Forms **/
@inputBgd: @ideBgd;
@inputBorder: 1px solid rgb(80, 81, 82);
@inputBorderFocus: 1px solid rgb(72, 72, 72);
@inputBorderRadius: 3px;

/** Location Selector **/
@localeHover: #333;

/** Buttons **/
@bttnBorder: 1px solid #CCC;
@bttnColor: #CCC;
@bttnBackground: transparent;
@bttnActiveBackground: #F2F2F2;
@bttnActiveColor: #333;
@bttnDisabledTxtColor: #5c5c5c;

@dtRowBgd: rgba(0,0,0,0.1);
@import "../base/ewars";
