.page-portrait, .page-landscape {
  background: #F2F2F2;
}

.page-portrait {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  min-height: 2048px;
  max-height: 2048px;
  border: 1px solid #000000;
}

.page-landscape {
  margin: 8px;
  border: 1px solid #000000;
}

.tmpl-page {
  display: block;
  min-height: 60px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0000;

  .tmp-page-inner {
    margin: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;

    .numeral {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}