.system-form {
  background: #363636;

  .field {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;

    &.vertical-field {
      display: block;

      .label {
        display: block;
      }

      .clearer {
        display: block;
      }

      .control {
        display: block;
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .clearer {
      display: none;
    }

    .guidance {
      display: block;
      clear: both;
    }

    .label {
      color: #999999;
      font-size: 12px;
      text-overflow: ellipsis;
      -webkit-font-smoothing: antialiased;
      font-family: Tahoma, Arial;
      overflow: hidden;
      cursor: default;
      padding: 2px 2px 2px 0;
      white-space: nowrap;
      margin-bottom: 8px;
      max-width: 30%;
      flex: 1;
      background: transparent;
      border: none;
    }

    .control {
      flex: 2;
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.1);

      .select-wrapper {
        background: transparent;
      }

      input[type="text"] {
        display: block;
        color: #adadad;
        clear: both;
        text-indent: 5px;
        padding: 7px 0;
        width: 100%;
        border-radius: 3px;
        background: #3c3f41;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid rgba(255, 255, 255, 0.1);

        &:focus {
          border: 1px solid lightblue;
          outline-offset: 0px !important;
          outline: none !important;
        }

      }

      textarea {
        display: block;
        color: #adadad;
        clear: both;
        text-indent: 5px;
        padding: 7px 0;
        width: 100%;
        border-radius: 3px;
        background: #3c3f41;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #505152;

        &:focus {
          border: 1px solid lightblue;
          outline-offset: 0px !important;
          outline: none !important;
        }
      }

      select {
        width: 100%;
        padding: 5px;
        font-size: 12px;
        color: #adadad;
        line-height: 1;
        border-radius: 3px;
        border: 1px solid #505152;
        height: 34px;
        background: transparent;
        -webkit-appearance: none;

        option {
          color: #F2F2F2;
        }
      }
    }
  }

  .form-header {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 8px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.2);
    color: #DADADA;
  }

  .section-basic {
    background: #363636;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #353535;

    .header {
      padding: 8px 15px 8px 15px;
      font-size: 14px;
      color: #dddddd;
      border-bottom: 1px solid #232323;
      background-color: #313131;
      margin: 0;

    }

    .hsplit {
      display: flex;
      padding: 10px 10px 10px 15px;
      .label {
        flex: 1;
        color: #999999;
        font-size: 12px;
        text-overflow: ellipsis;
        -webkit-font-smoothing: antialiased;
        font-family: Tahoma, Arial;
        overflow: hidden;
        cursor: default;
        padding: 2px 2px 2px 0;
        white-space: nowrap;
        margin-bottom: 8px;
      }

      .control {
        flex: 1;
      }
    }
  }
}

.son-list-item {
  display: block;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px 8px;
  color: #F2F2F2;
}

.definition-editor {
  color: rgb(173, 173, 173);;
  .field-definition {
    margin: 5px 8px;
    background: rgba(0, 0, 0, 0.1);
  }

  .field-drop-area {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    text-align: center;
    padding: 5px;
    border: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.node {
  .node-handle {
    color: #DADADA;
    .node-control {
      .column {
        padding: 3px 5px;
      }
    }
  }
}
