.ux-col, .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.ux-row, .row {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;

    &.section {
        max-height: 20px;
        background: rgba(0, 0, 0, 0.2);
        padding: 8px;
        text-transform: uppercase;
    }
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    display: flex;
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.widget-cell {
    border: 1px solid #000000;
    background: #F2F2F2;
    .tbar {
        display: block;
        border-bottom: 1px solid #000000;
    }
}
