.loader-view {

    h2 {
        display: block;
        margin: 8px;
        font-size: 16px;

    }
    
    p {
        padding: 0 8px;
        margin: 8px 0;
        font-size: 12px;
    }

    .panel {
        overflow-y: auto;
        padding: 16px;
    }


    .loader-item {
        border: 1px solid @borderColour;
        margin: 8px 5px;
        background: #F2F2F2;
        border-radius: 3px;
    }

    .loader-progress-outer {
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid @borderColour;
        top: 0;
        left: 0;    
        background: #FFFFFF;

        .loader-progress-inner {
            background : @green;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }

}
