.login-image {
  background: rgb(54, 57, 67);
}

.login-header {
  text-align: center;
}

.login-wrapper {
  .login-main {
    background: #FFFFFF;
    display: block;
    padding: 16px;
    margin: 16px;

  }

  .logo {
    text-align: center;
    margin-top: 25px;
    img {
      width: 50px;
    }

    .text {
      font-size: 50px;
      margin-top: 16px;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
  }
}

.account-section {
  display: block;
  margin: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #F2F2F2;
}

.login-block {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 8px;
  color: #F2F2F2;
  padding: 8px;

  h4 {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 8px;
  }

  p {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  &.first {
    margin-right: 4px;
  }

  &.last {
    margin-left: 8px;
  }

  &:hover {
      background: rgba(0, 0, 0, 1);
  }
}


.login-wrapper {
    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.login-column {
    grid-area: 1 / 1 / 2 / 2;
    display: block;
    margin: 16px;

    label {
      display: block;
      margin-bottom: 2px;
      font-size: 0.9rem;
      color: #333333;
    }

    input {
      background: #FFFFFF;
      border: 1px solid @borderColour;
      font-size: 14px;
      display: block;
      width: 100%;
      clear: both;
      margin-bottom: 16px;
      padding: 3px;
    }
}

.account-column {
    grid-area: 1 / 2 / 2 / 3;
    background: #333;
    display: block;
    position: relative;

    .account-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.login-footer {
    display: block;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    background: #F2F2f2;
}

.login-column {
    h1 {
        display: block;
        text-align: center;
        margin: 16px 0;
        font-size: 5rem;
        font-weight: bold;
        color: #F2F2f2;
    }
}
