.panel {
  background: rgba(189, 189, 189, 0.1);
  max-width: 250px;
  width: 250px;
}

.br {
  border-right: 1px solid @borderColour;
}

.bl {
  border-left: 1px solid @borderColour;
}

.bt {
  border-top: 1px solid @borderColour;
}

.bb {
  border-bottom: 1px solid @borderColour;
}

.block {
  display: block !important;
}

.block-overflow {
  overflow-y: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
