.team-entry-control {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 10px;
    height: 60px;
    width: 100%;

    .inner {
        display: flex;
        flex-direction: row;
        margin: 8px;
        border: 1px solid #DADADA;
        border-radius: 6px;
        height: 40px;

        .button {
            text-align: center;

            &:hover {
                background: #DADADA;
            }
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            font-size: 14px;
            box-sizing: border-box;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;

            &:focus {
                outline: none;
            }
        }
    }
}


.team-msg {
    display: block;
    padding: 0 8px;
    margin-bottom: 3px;

    .date {
        padding: 3px;
        color: #DADADA;
    }

    .content {
        display: block;
        padding: 3px 8px;
        strong {
            display: inline-block;
            margin-right: 8px;

        }
    }

}


.date-line {
    display: flex;
    text-align: center;
    position: relative;
    margin: 8px;

    .text {
        text-align: center;
        background: white;
        padding: 8px;
        margin: 0 auto;
        width: auto;
        font-size: 10px;
    }

    .line {
        position: absolute;
        top: 50%;
        width: 100%;
        background: #DADADA;
        height: 1px;
    }


}


.team-messages {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
