@riskYellow: rgb(251, 232, 17);
@riskRed: rgb(217, 0, 21);
@riskGreen: rgb(55, 153, 33);
@riskAmber: rgb(238, 130, 8);

.alert-dashboard {
  width: 100%;
  height: 100%;
  display: block;
  flex: 2;
  position: relative;

  .map {
    height: 100%;
    width: 100%;
  }

  .status-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
}

.alert-actionable {
  display: block;
  margin: 8px;
  padding: 8px;
  border: 1px solid @red;
  background-color: @lightRed;
  color: @red;
  border-radius: 3px;

  p, span {
    color: @red;
  }

  p {
    margin-bottom: 6px;
  }

  h3 {
    margin-bottom: 8px;
    color: @red;
    font-weight: bold;
  }
}

.alert-header {
  position: relative;
  display: block;
  padding: 16px;
  background: #F2F2F2;

  .alert-title {
    font-size: 18px;
    color: #333;

    .alert-state {
      color: #333;
    }
  }
}

.alert-title {
  font-weight: bold;
  font-size: 1.3em;
  color: #F1F1F1;

  span {
    color: #F1F1F1;
  }
}

.alert-state {
  display: block;
  float: left;
  margin-right: 10px;
}

.alert-wrapper {
}

.alert-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: #FFFFFF;
}

.alert {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .tbar {
    max-height: 34px;
    flex: 1;
    border-bottom: 1px solid @label-bottom;
  }

  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;

    .alert-controls {
      flex: 1;
      max-width: 60px;
      border-right: 1px solid @label-border;
    }

    .alert-content {
      flex: 2;
      max-height: 100%;
      overflow-y: scroll;
      position: relative;

      .alert-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }

      .panel {
        display: block;
        margin: 10px;
        height: auto;
        border: 1px solid #F1F1F1;
      }

      .panel, .panel-dark {
        .tbar {
          span {
            display: block;
            float: left;
            padding: 8px;
            font-weight: bold;
          }

          display: block;
          border-bottom: 1px solid @label-border;
          height: 34px;
        }
      }

      .panel-flex {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .panel-fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;

        .map {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .panel-dark {
        background: #333;
        display: block;
        margin-bottom: 8px;

        &.padded {
          color: #F1F1F1;
          padding: 16px;
        }
      }
    }
  }
}

.alrt-ctrls {
  padding-top: 8px;

  & > div:first-child {
    border-top: 1px solid @label-border;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  & > div:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .alert-control-btn {
    display: block;
    border-left: 1px solid @label-border;
    border-right: 1px solid @label-border;
    border-bottom: 1px solid @label-border;
    background-color: #F1F1F1;
    color: #333;
    text-align: center;
    padding: 8px;
    position: relative;
    margin: 0px 8px 0 8px;
    cursor: pointer;

    &:hover, &.alert-control-btn-down {
      color: @white;
      background: #333;
    }

    &:hover > .popover {
      display: block;
    }

    .popover {
      display: none;
      position: absolute;
      top: 4px;
      left: 50px;
      background: #333;
      color: #F1f1f1;
      padding: 3px 8px 3px 3px;
      border-radius: 3px;
      z-index: 999;
    }

  }
}

.list-item {
  display: block;

  .flex-col {
    padding: 8px;
  }

}

.alerts-list {
  display: block;

  .alert-list-item {
    display: block;
    padding: 8px;
    border-bottom: 1px solid @label-border;
    cursor: pointer;

    .location {
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
      color: #545454;
    }

    .period {
      display: block;
      margin-bottom: 3px;
      font-size: 12px;
      color: #545454;
    }

    .alarm {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    &:hover {
      background: #ECECEC;
    }
  }
}

.map-popup-wrapper {
  display: block;

  table {
    margin-bottom: 8px;
    tr {
      th {
        font-weight: bold;
        text-align: left;
        padding-right: 5px;
      }

      tr {
        text-align: left;
      }
    }
  }

  a {
    display: block;
  }
}

.alert-list-group {
  display: block;

  h3 {
    display: block;
    background: rgb(241, 139, 35);
    padding: 6px;
    color: #F2F2F2;
    font-weight: bold;
  }

  .alert-location-group {
    margin: 8px;
    h3 {
      background: transparent;
      padding: 0;
      color: #333;
      font-size: 14px;
      margin-bottom: 6px;
    }

    .alerts-list {
      border-left: 1px solid #CCC;
      border-right: 1px solid #CCC;
      border-top: 1px solid #CCC;
    }
  }
}

.flow {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFF;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 79px;
    z-index: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: @label-bottom;
  }

  .flow-items {
    position: relative;
    display: block;
    padding-top: 16px;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0 1px 0 0 #CCC;

    .flow-item {
      position: relative;
      padding-left: 25px;
      margin: 15px 0 15px 79px;

      &.comment {
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        margin: 15px 0 15px 39px;
      }

      .flow-comment {
        border: 1px solid #ddd;
        border-radius: 3px;
        min-height: 10px;
        display: block;
        margin-right: 30px;

        .flow-comment-header {
          padding: 6px 10px;
          background: #f7f7f7;
          min-height: 20px;
          border-bottom: 1px solid #ddd;

          .author {
            font-weight: bold;
            color: #555;
          }

          .timestamp {
            color: inherit;
            white-space: nowrap;
          }
        }

        .flow-comment-body {
          padding: 16px;
          background: #FFF;
        }
      }

      .flow-item-header {
        min-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
        color: #767676;
        word-wrap: break-word;

        .flow-item-icon {
          float: left;
          width: 32px;
          height: 32px;
          margin-top: -7px;
          margin-left: -40px;
          line-height: 28px;
          color: #767676;
          text-align: center;
          background-color: #f3f3f3;
          border: 2px solid #fff;
          border-radius: 50%;
        }

        .avatar {
          display: inline-block;
          overflow: hidden;
          line-height: 1;
          vertical-align: middle;
          border-radius: 3px;
          float: left;
          margin-top: 2px;
          margin-right: 5px;
          min-height: 0;
        }

        .author {
          font-weight: bold;
          color: #555;
        }

        .timestamp {
          color: inherit;
          white-space: nowrap;
        }
      }

      .flow-item-body {
        min-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
        color: #767676;
        word-wrap: break-word;

        .flow-item-body-content {
          padding-left: 21px;
        }
      }

      .state {
        position: absolute;
        right: 30px;
        top: 0px;
        font-size: 12px;
        display: inline-block;
        padding: 4px 8px;
        font-weight: bold;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #999;
        border-radius: 3px;
      }

    }

  }

  .flow-actions {
    display: block;
    background: #FFF;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .flow-editor-wrapper {
      margin-top: 15px;
      margin-bottom: 0;
      border-top: 1px solid @label-border;
      background: #FFF;
      padding-top: 20px;
      position: relative;
      padding-left: 64px;
      border-bottom: 2px solid #FFF;

      .flow-editor-avatar {
        float: left;
        margin-left: -64px;
        border-radius: 3px;
      }

      .editor {
        margin: 0;
        padding: 0;

        &:before {
          border-width: 8px;
          border-right-color: #ddd;
          position: absolute;
          top: 11px;
          right: 100%;
          left: -16px;
          display: block;
          width: 0;
          height: 0;
          pointer-events: none;
          content: " ";
          border-color: transparent;
          border-style: solid solid outset;
        }

        .editor-header {
          padding: 6px 10px 0;
          background: #f7f7f7;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          border: 1px solid @label-border;
          min-height: 20px;
          margin-right: 30px;
        }

        .editor-body {
          border-left: 1px solid @label-border;
          border-right: 1px solid @label-border;
          border-bottom: 1px solid @label-border;

          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          background: #FFF;
          min-height: 30px;
          margin-right: 30px;
          margin-bottom: 30px;

          .flow-text-wrapper {
            padding: 10px 0 10px;
            margin: 0px 10px 0 10px;
            display: block;

            .flow-text {
              display: block;
              width: 100%;
              min-height: 100px;
              max-height: 500px;
              resize: vertical;
              border-bottom: 1px dashed #ddd !important;
              max-width: 100%;
              height: 100px;
              margin: 0;
              font-size: 14px;
              line-height: 1.6;
              background-color: #fafafa;
              font-size: 13px;
              color: #333;
              vertical-align: middle;
              background-repeat: no-repeat;
              background-position: right 8px center;
              outline: none;
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
              border-top-right-radius: 3px;
              border-top-left-radius: 3px;
              border-right: 1px solid #ddd;
              border-top: 1px solid #ddd;
              border-left: 1px solid #ddd;
            }
          }
        }
      }

    }
  }
}

.flow-status {
  display: block;
  background: #FFF;

  .dialog {
    display: block;
    border: 3px solid @whoBlue;
    min-height: 10px;
    margin-top: 28px;
    padding: 16px;

    .dialog-title {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  .flow-states {
    display: block;
    position: relative;

    .flow-row {
      display: flex;
      position: relative;

      .flow-date {
        display: block;
        font-size: 12px;
        line-height: 95px;

        &.right {
          padding-left: 8px;
        }

        &.left {
          padding-right: 8px;
        }
      }

      .flow-connector {
        display: flex;
        flex: 1;
        min-width: 10px;
        height: 58px;
        border-bottom: 17px solid rgb(233, 238, 242);

        &.passed {
          border-color: rgb(252, 167, 105);
        }

        .flow-time {
          display: block;
          width: 100%;
          line-height: 57px;
          text-align: center;
          font-size: 12px;
        }
      }

      .flow-state {
        flex: 1;
        display: flex;
        max-width: 100px;
        position: relative;
        height: 140px;

        .flow-state-arrow {
          position: absolute;
          bottom: -30px;
          left: 50%;
          background: @whoBlue;
          border: 0px solid transparent;
        }

        .flow-state-arrow:after, .flow-state-arrow:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        .flow-state-arrow:after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: @whoBlue;
          border-width: 20px;
          margin-left: -20px;
        }

        .flow-state-arrow:before {
          border-color: rgba(0, 0, 0, 0);
          border-bottom-color: transparent;
          border-width: 26px;
          margin-left: -26px;
        }

        &.triggered {
          .marker {
            background: rgb(251, 110, 0);
            border-color: rgb(251, 110, 0) !important;

            .marker-icon {
              color: #FFF;
            }
          }

        }

        &.clickable {
          .marker {
            cursor: pointer;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

          }

          &:hover {
            .marker {
              -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
          }
        }

        &.complete {
          .marker {
            background: rgb(252, 167, 105);
            border-color: rgb(252, 167, 105) !important;

            .marker-icon {
              color: #FFF;
            }
          }
        }

        &.active {
          .marker {
            border-color: rgb(252, 167, 105) !important;
            cursor: pointer;

            .marker-icon {
              color: #333;
            }
          }
        }

        &.left {
          .marker {
            left: 0;
            right: auto;
            margin-left: 0;
          }
        }

        &.right {
          .marker {
            left: auto;
            right: 0;
          }
        }

        .marker-wrapper {
          display: block;
          position: relative;
          width: 100px;

          .marker {
            display: block;
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 17px solid rgb(233, 238, 242);
            z-index: 1;

            &.left {
              left: 0;
              right: auto;
            }

            &.right {
              right: 0;
              left: auto;
            }

            .marker-icon {
              position: absolute;
              display: block;
              text-align: center;
              font-size: 40px;
              top: 50%;
              left: 0;
              margin-top: -20px;
              width: 100%;
            }

          }
          .label {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            width: 100%;
          }
        }

      }
    }
  }
}

.risk-table {
  width: 100%;
  display: flex;
  flex-direction: column;

  .risk-row {
    display: flex;
    flex: 1;
    flex-direction: row;

    .header {
      min-height: 40px;
      max-height: 40px;
      font-size: 12px;
      text-align: right;
      vertical-align: top;
      padding-top: 5px;
      padding-right: 5px;
      flex: 1;
    }

    .cell {
      min-height: 40px;
      max-height: 40px;
      cursor: pointer;
      border: 1px solid white;
      flex: 1;

      .icon {
        color: #FFF;
        display: none;
        text-align: center;
        font-size: 22px;
        padding-top: 5px;
      }

      &:hover, &.active {
        border: 1px solid @label-border;

        .icon {
          display: block;
        }
      }

      &.green {
        background: @riskGreen;
      }

      &.orange {
        background: @riskAmber;
      }

      &.red {
        background: @riskRed;
      }

      &.yellow {
        background: @riskYellow;
      }
    }
  }

}

.risk-tag {
  position: absolute;
  display: inline-block;
  clear: both;
  border-radius: 3px;
  padding: 8px;
  color: #FFF !important;
  top: 0;
  right: 0;
  background: @label-border;

  &.static {
    position: relative;
    top: auto;
    left: auto;
  }

  &.red {
    background: @riskRed;
  }

  &.green {
    background: @riskGreen;
  }

  &.orange {
    background: @riskAmber;
  }

  &.yellow {
    background: @riskYellow;
  }
}

.risk-description {
  padding: 0 0 0 10px !important;

  label {
    display: block;
    margin-bottom: 5px;
  }

  .panel {
    position: relative;
    height: auto;
    width: auto;
    border: 1px solid @label-border;
    margin-bottom: 8px;
    padding: 8px;
    display: block;

    ul {
      display: block;
      padding-left: 16px;
      list-style: disc;
    }
  }
}

.alert-details {
  font-size: 12px;
  float: right;

  th {
    font-weight: bold;
    text-align: right;
    background: #FFFFFF;
    border: @inputBorder;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 30px;
    vertical-align: middle;
  }

  td {
    text-align: left;
    min-height: 30px;
    height: 30px;
    vertical-align: middle !important;
    padding: 0 5px;
    background: #FFFFFF;
    border: @inputBorder;
  }
}

.alert-notice {
  display: block;
  margin: 10px 10px;
  background: @lightAmber;
  color: @amber;
  padding: 16px;
}

.article-list {

  li {
    list-style: circle;
    padding-left: 0 !important;
    line-height: 18px !important;
    border-left: none !important;

  }
}

.alert-meta {
  display: block;
  margin-top: 8px;

  .item {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }
}