/*
 * Copyright (c) 2015 JDU Software & Consulting Limited.
 * ALl Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of JDU Software &
 * Consulting Limited and its suppliers, if any. The intellectual concepts contained
 * herein are proprietary to JDU Software & Consulting Limited and its suppliers and
 * may be covered under U.S. and Foreign Patents, patents in process, and are protected
 * by trade secret or copyright law. Dissemination of this information or reproduction
 * of this material is strictly forbidden unless prior written permission is obtained
 * from JDU Software & Consulting Limited.
 */
@btnHover: #aeaeae;

.backdrop {
  position: absolute;
  opacity: 0;
  display: none;
  height: 7px;
  width: 14px;
  border-radius: 0 0 14px 14px;
  background-color: #323232;
  z-index: -1;
  -webkit-transform-origin: 50% 10%;
  -moz-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  -o-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  will-change: transform, opacity;
}

button[disabled=disabled], button:disabled {
  background-color: #CCC !important;
}

button {
  cursor: pointer;
  background-color: #f8f8f8;

  i {
    color: @grey;
  }

  span {
    color: @grey;
  }
}

.btn-group {
  display: inline-block;
  margin: 5px;
  padding: 0;

  &.formed {
    margin-left: 0px !important;
  }

  &.pull-right {
    float: right;
  }

  button {
    border-right: 1px solid @label-bottom;
    border-left: none;
    border-radius: 0;
  }

  button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &:hover {
      border-left: 1px solid @btnHover;
    }
  }

  button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .bttn {
    &.red:first-child {
      border-left: 1px solid @red;
    }

    &.green:first-child {
      border-left: 1px solid @green;
    }
  }

}

button {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  height: 25px;
  background-color: @white;
  line-height: 110%;
  padding: 5px 8px;
  min-width: 25px;
  border-radius: 3px;
  color: #424142;

  border-top: 1px solid @label-bottom;
  border-bottom: 1px solid @label-bottom;
  border-right: 1px solid @label-bottom;
  border-left: 1px solid @label-bottom;

  &.active {
    background-color: rgb(53,173,204);
    color: @white;

    i, span {
      color: @white !important;
    }
  }

  &.btn-green {
    color: @green;

    i, span {
      color: @green !important;
    }
  }

  &.btn-red {
    color: @red;

    i, span {
      color: @red !important;
    }
  }

  &.btn-amber {
    color: @amber;

    i, span {
      color: @amber !important;
    }
  }

  span {
    color: #424142;
    padding-left: 5px;
    line-height: 50%;
  }

  &:hover {
    background: @btnHover;
    border-color: @btnHover;
    color: @white;

    span, i {
      color: @white;
    }
  }

  i {
    font-size: 1.3em;
    color: #333;
    text-align: center;
    display: block;
    line-height: 100%;
  }

}

.btn-block {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: block;

    button {
      display: block;
      width: auto;
      margin: 0 0 5px 0;
    }
  }
}

.dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  width: 200px;
  text-align: left;
  background: #333;

  .item {
    display: block;
    padding: 5px;

  }
}

.iw-control {
  height: 27px;
  width: 27px;
  line-height: 32px;
  text-align: center;
  color: @defaultTxtColor;
  cursor: pointer;
  display: inline-block;


  &:hover {
    color: @green;
  }
}

.btn-tabs {
  margin: 0 auto;

  .bttn {
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    height: 34px;
    margin-top: -6px;
    line-height: 26px;
    padding-left: 14px;
    padding-right: 14px;
    border-color: rgba(0,0,0,0.5);
  }

  .bttn:first-child {
    border-left: none;
    border-radius: 0;
  }

  .bttn:last-child {
    border-right: none;
    border-radius: 0;
  }
}