.dashboard {
  background: #edf1f4;

  .widget {
    min-height: 100%;

  }

  .widget-cell {
    background: #FFF;
    margin: 14px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;


    .ide-tbar {
      border-top: none;
      border-bottom: @inputBorder;
      background: transparent;

      .ide-tbar-icon {
        display: block;
        float: left;
        width: 16px;
      }
    }

    .wc-body {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      min-height: 160px !important;

      .value, .wc-text, .wc-sub {
        text-align: center;
        width: 100%;
      }

      .value {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 0;
        width: 100%;

        span {
          font-weight: bold;
          font-size: 35px;
        }
      }

      .wc-text, .wc-sub {
        position: absolute;
        width: 100%;
        padding: 0 8px;
      }

      .wc-text {
        bottom: 20px;
        font-weight: bold;
      }

      .wc-sub {
        bottom: 8px;
      }

    }

    .wc-header {
      background: transparent;
      display: block;

      .wc-header-icon {
        background: #F2F2F2;
        text-align: center;
        position: relative;

        i {
          position: absolute;
          top: 50%;
          width: 100%;
          left: 0;
          font-size: 14px;
          margin-top: -6px;
        }
      }

      .wc-header-text {
        padding: 6px;
        border-top: 6px solid #333;
        font-size: 14px;
      }
    }
  }
}

.load-more {
  display: block;
  margin: 16px;
  background: #dadada;
  padding: 8px;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.shoulder {
  background-color: @label-border;

  ul {
    margin: 0 0 0 0px;
    padding: 0;
    list-style: none;

    li {
      display: block;
      flex-direction: row;
      cursor: pointer;

      &.active {
        background: #333;
        color: #F2F2f2;
      }

      .icon {
        display: block;
        padding: 5px;
        text-align: center;
      }

      .title {
        display: block;
        font-size: 14px;
        padding: 5px;
        text-align: left;
      }

      .tag {
        display: block;
        border-radius: 8px;
        background: #F1F1F1;
        padding: 5px;
        color: #333;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
      }

    }
  }
}

.task-item {
  p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
}

.tag {
  display: block;
  border-radius: 6px;
  float: left;
  padding: 5px;

  &.red {
    background-color: red;
    color: @white;
  }

  &.pull-right {
    float: right;
  }
}

.reason {
  display: block;
  padding: 8px;
  background-color: @grey;
  color: @white;
  span {
    color: @white;
  }
}

.dash-widget {
  margin: 10px;
  border-radius: 8px;
  background: #000;
  height: 90px;
}


.dash-sep {
  display: block;
  margin: 8px;
  height: 1px;
  background: rgba(0,0,0,0.2);
}

.dash-section {
  display: block;
  text-transform: uppercase;
  padding: 5px;
  margin: 12px 8px 8px 8px;
  color: #F2F2F2;
}

.dash-cell {
  border: 1px solid #dadada;
  margin-bottom: 8px;
  margin-right: 4px;
  margin-left: 4px;
}

.dash-handle, .son-list-item {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin: 3px 8px;
  padding: 5px;
  border-radius: 8px;

  &.sub-item {
    margin-left: 24px;
  }

  &:hover {
    background: rgba(0,0,0,0.1)
  }

  &.active {
    background: #333;
  }
}

.son-list-item {
  color: @defaultTxtColor;
}

.metric-row {
  display: block;
  background: #F2F2F2;
  margin: 10px;
  border: @inputBorder;
  background: @inputBgd;

  .mt-acc-name {
    display: block;
    flex: 1;
    font-size: 14px;
    padding: 14px;
  }
}

.heading {
  position: relative;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 18px;

  &:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    border-top: @inputBorder;
  }

  span {
    background: #FFF;
    font-size: 14px;
    padding: 3px 16px 3px 0px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.acc-details {

  .acc-name {
    font-size: 16px;
    padding: 16px;
  }

  .metrics {
    padding-top: 10px;

    .heading {
      position: relative;
      margin-bottom: 15px;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 18px;

      &:before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 50%;
        left: 0;
        right: 0;
        display: block;
        border-top: @inputBorder;
      }

      span {
        background: #FFF;
        font-size: 14px;
        padding: 3px 16px 3px 0px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .metric-tiles {
      display: block;
      margin-left: 16px;
      margin-right: 16px;

      .ide-row {
        margin-bottom: 5px;
        background: #F2F2F2;
        padding: 5px;

        &:hover {
          background: #333;
          color: #F2F2F2;
        }

        &.sub {
          margin-left: 20px;
        }

        &.sub2 {
          margin-left: 40px;
        }
      }

      .val {
        text-align: right;
      }
    }

    .metric-bar {
      display: block;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 10px;

      .val {
        text-align: right;
      }

      .metric-progress {
        margin-top: 5px;
        display: block;
        height: 25px;
        border-radius: 6px;
        border: @inputBorder;
        position: relative;

        .metric-progress-inner {
          border-radius: 6px;
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          background: #333;
        }
      }
    }

  }
}

.dash-val {
  min-height: 120px;
  background: #FFFFFF;

  .dash-val-header {
    display: block;
    min-height: 35px;
    max-height: 35px;
    border-bottom: 1px solid @label-bottom;
    line-height: 35px;
    overflow: hidden;
    position: relative;
    z-index: 0;

    i {
      margin-right: 5px;
    }

    .dash-icon {
      text-align: center;
      z-index: 2;
    }

    .dash-title {
      padding: 0;
      z-index: 2;
    }

    .dash-icon-bgd {
      position: absolute;
      top: 0;
      left: 0;
      background: red;
      width: 30px;
      height: 100%;
      z-index: 1;
    }
  }

  .dash-val-content {
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 20px;

    span.raw-value {
      text-align: center;
      font-weight: bold;
      display: flex;
      flex-direction: row;

      .raw-prefix, .raw-suffix {
        font-size: 12px;
        flex: 2;
        vertical-align: middle;
        line-height: 30px;

      }

      .raw-prefix {
        padding-right: 8px;
        text-align: right;
      }

      .raw-suffix {
        padding-left: 8px;
        text-align: left;
      }

      .raw-inner {
        flex: 1;
        text-align: center;
        flex-grow: 1;
        font-size: inherit;

      }
    }

    .dash-val-title {
      font-weight: bold;
      margin-top: 8px;
      margin-bottom: 5px;
      font-size: 11px;
    }

    .dash-val-sub {
      text-align: center;
      font-size: 11px;
      padding: 0 8px;
    }
  }



  .dash-val-footer {
    display: block;
    max-height: 23px;
    min-height: 23px;
    border-top: 1px solid @label-bottom;
  }

  .sub-date, .sub-source {
    position: relative;
    display: block;
    float: left;
    margin-right: 2px;

    .content {
      display: none;
      position: absolute;
      left: 25px;
      background: #333;
      color: #F2F2F2;
      top: -1px;
      padding: 8px;
      border-radius: 3px;
      white-space: nowrap;

      z-index: 9;
      font-size: 10px;
    }


    .sub-handle {
      padding: 5px;
    }

    &:hover {
      .content {
        display: block;
      }

      .sub-handle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}


.assign-request-button {
  display: block;
  padding: 5px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  margin: 8px;
  border-radius: 3px;

  &:hover {
    background: @whoBlue;
    color: white;
  }
}

.dash-node {
  background: #F2F2F2;

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
      display: block;
      height: 20px;
      text-align: center;
      position: relative;

      .node-menu {
        position: absolute;
        top: 20px;
        background: #3333;
        left: 50%;
        margin-left: -50px;

        .menu-inner {
          width: 100px;
          display: block;
        }

        a {
          display: block;
          color: #F2F2F2;
        }
      }

      a {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        padding: 3px 0;

        i {
          color: transparent;
        }

        &:hover {
          i {
            color: white;
          }
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        cursor: move;
      }
    }

  }
}


.ux-widget-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  z-index: 9999;
}

.task-list-item {
  display: block;
  margin: 4px 8px;
  border: 1px solid #dadada;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background: #F2F2F2;
  }
}
