/** Desktop LESS **/

@desktop-grey: rgb(43, 43, 43);
@panel-bgd: rgb(60, 63, 65);
@light-border: rgb(85, 85, 85);
@dark-border: rgb(40, 40, 40);
@tab-active: rgb(81, 86, 88);
@tab-inactive: rgb(59, 62, 63);

.amend-meta {
  display: block;
  margin: 10px;
  background-color: @white;
  padding: 10px;

  .warning {
    display: block;
    background: @lightAmber;
    color: @amber;
    padding: 5px;
  }
}

.editor {
  height: 100%;
  display: block;
  overflow: hidden;
}

.report {
  display: block;
  height: 100%;
  overflow: hidden;

  .report-header {
    display: block;
    margin: 18px 10px 30px 10px;

    .report-name {
      font-size: 1.7em;
      font-weight: bold;
    }

    .meta {
      display: block;
      padding-top: 8px;

      .meta-item {
        display: block;
        float: left;
        border-radius: 3px;
        background-color: @white;
        margin-right: 3px;
        padding: 3px;
      }
    }
  }

  .report-scroll {
    display: block;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.vert-tabs {
  display: block;
  height: 100%;
  border-right: 3px solid @tab-active;

  .vert-tab {
    display: block;
    color: @white;
    font-size: 0.7em;
    cursor: pointer;
    text-align: center;
    padding: 5px 7px;
    border-bottom: 1px solid @dark-border;

    &.active {
      background-color: @tab-active;
    }
  }
}

.editor {
  .tbar {
    border-top: 1px solid @label-border;
    display: block;
    height: 35px;

    .warning {
      display: block;
      text-align: right;
      font-size: 0.8em;
      padding: 10px;
    }

  }
}

.report-mode {
  display: block;
  border: 1px solid @label-border;
  border-radius: 3px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;

  .cur-mode {
    display: inline-block;
    floaT: left;
    color: #333;
    padding: 3px 5px;
    cursor: pointer;

    &:hover {
      color: @white;
      background: @whoBlue;
    }
  }

  .caret {
    display: block;
    overflow-y: hidden;
    color: #333;
    padding: 3px;
    border-left: 1px solid @label-border;
    cursor: pointer;

    &:hover {
      background: @whoBlue;
      color: @white;
    }
  }

  .options {
    position: absolute;
    top: 25px;
    right: 0;
    border-top: 1px solid @white;
    background: @white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgrba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

    .option {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: @whoBlue;
        color: @white;
      }
    }
  }
}

.pagination {
  display: block;

  .pagination-status {
    display: block;
    padding: 8px;
  }
}

.dk-menu {
  display: block;
  float: left;
  width: 60px;
  height: 35px;

  .dk-handle {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  &:hover {
    background: #333;
  }

  &:hover > .menu-items {
    display: block;
  }

  .menu-items {
    display: none;
    position: absolute;
    top: 30px;
    width: 500px;
    height: 200px;
    background: #333;
    padding: 16px;
    z-index: 9;
  }
}

.dk-mm-item {
  display: block;
  text-align: center;
  font-size: 16px;
  height: 35px;
  width: 30px;
  float: left;
  cursor: pointer;
  line-height: 35px;

  &.active, &:hover {
    background: #333;
    color: #FFF;
  }

}
