.drag-list {
    display: grid;
    height: 300px;
    grid-template-columns: 1fr 30px 1fr;
    justify-items: stretch;

    .drag-list-source {
        display: block;
        grid-area: 1 / 1 / 2 / 2;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.1);
        overflow-y: scroll;
    }

    .drag-list-source, .drag-list-output {
        .drag-list-item {
            display: grid;
            margin: 8px 16px 8px 8px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            grid-template-columns: 1fr auto;
            grid-column-gap: 5px;
            justify-items: stretch;

            &:hover {
                background: rgba(0,0,0,0.1);
            }

            .drag-list-label {
                padding: 5px;
                grid-area: 1 / 1 / 2 / 2;
            }
        }
    }

    .drag-list-middle {
        grid-area: 1 / 2 / 2 / 3;
    }

    .drag-list-output {
        grid-area: 1 / 3 / 2 / 4;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.1);
    }

}

.out-loc-item {
    display: grid;
    margin: 8px;
    grid-template-columns: 1fr auto;
    justify-items: stretch;
    border: 1px solid rgba(0,0,0,0.1);

    .out-loc-label {
        grid-area: 1 / 1 / 2 / 2;
        padding: 5px;
    }

    .out-loc-controls {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.form-list-item {
    display: block;
    margin: 8px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,0.1);
    }

}

.out-widget {
    display: grid;
    grid-template-rows: 10px 50px 10px auto;
    grid-template-columns: auto;
    justify-items: stretch;
    height: 100%;

    .space-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .space-2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .out-header {
        grid-area: 2 / 1 / 3/ 2;
        display: table-cell;
        vertical-align: middle;
            
        .inner {
            display: inline-block;
            width: 100%;

            .counter {
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                color: #4175f7;
            }

            .label {
                text-align: center;
                font-size: 11px;
                color: #333333;
            }
        }
    }

    .out-list {
        display: block;
        grid-area: 4 / 1 / 5 / 2;
        border-top: 1px solid rgba(0,0,0,0.1);
        overflow-y: scroll;

        .out-item {
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 5px;

            strong {
                display: block;
                margin-bottom: 4px;
                font-weight: bold;
                font-size: 12px;
            }

        }
    }
}
