.display-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

body {
  font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: @bgd;
  color: @defaultTxtColor;
}

a {
  color: @whoBlue;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

@import 'reset';
@import 'dashboard';
@import 'cerebro';
@import 'grid';
@import 'modal';
@import 'forms';
@import 'login';
@import 'charts';
@import 'sub-nav';
@import 'notification-stream';
@import 'sit-menu';
@import 'tables';
@import 'form-definition';
@import 'switch';
@import 'article';
@import 'tabs';
@import 'analysis';
@import 'alerts';
@import 'maps';
@import 'buttons';
@import 'location-select';
@import 'indicator';
@import 'desktop';
@import 'widgets';
@import 'situation';
@import 'explore';
@import 'week-picker';
@import 'ide';
@import 'documents';
@import 'polyfills';
@import 'flat-light';
@import 'profile';
@import 'auditor';
@import 'datatable';
@import 'date';
@import 'help';
@import 'sonoma';
@import 'drop-list';
@import (inline) "../../../../../client/node_modules/codemirror/lib/codemirror.css";

@import '../../vendor/redactor/redactor';

//* {
//  font-family: 'Open Sans', sans-serif;
//}

body, html, p, h1, h2, h3, h4, h5, h6, blockquote, span {
  color: @defaultTxtColor;
  font-size: @defaultFontSize;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

strong {
  font-weight: bold;
}

p {
  font-size: @defaultFontSize;
}

*, *:active, *:hover {
  outline: none;
}

table {
  tr {
    td {
      vertical-align: top;
    }
  }
}

#application, .view {
  height: 100%;
}

#application {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-layout {
  height: 100%;
  width: 100%;
  border-spacing: 0;

  tr {
    td {
      padding: 0;
      vertical-align: top;
      border-collapse: collapse;
    }
  }
}

.clearer {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.flag-icon-DEFAULT {
  background-image: url("../../icons/who_flag.svg.png");
}

.navigation {
  background: @headerBgd;
  color: @headerColor;
  border-bottom: @headerBorderBottom;
  display: block;
  height: 30px;

  .nav-flag {
    display: block;
    float: left;
    height: 30px;
    width: 53px;
    clip-path: circle(16px at center);
    -webkit-clip-path: circle(16px at center);

    .flag-icon {
      width: 53px;
      height: 40px;
    }

  }

  .nav-logo {
    display: block;
    color: @headerColor;
    float: left;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: #333;
      color: @white;
    }
  }

  .menu-item {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 16px;

    &.right {
      float: right;
    }

    a {
      color: @headerColor;
      display: block;
      padding: 7px 7px;
      text-decoration: none;
      float: left;

      &:hover {
        background-color: #333;
        color: @white;
      }
    }

    &:hover > #cerebro {
      display: block;
      opacity: 1;
    }
  }
}

.notification {
  border-left: 3px solid #CCC;
  display: block;
  margin-bottom: 10px;
  padding: 3px 3px 3px 10px;

  blockquote {
    font-size: 0.9em;
  }

  &.bad {
    border-color: red;
  }

}

/***************************************/
/* Layout
/***************************************/

.layout {
  height: 100%;
  width: 100%;
  background-color: #FFF;

  #application {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 37px;
    right: 0;
    bottom: 0;
    lefT: 0;
    overflow: auto;

    h3 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 1.2em;
    }

    .header {
    }

  }
}

.view {
  position: relative;
  height: 100%;
  background-color: #333;

  .sub-view {
    margin: 0 !important;
    display: block;
    height: 100%;
    padding-left: 210px;

    .grid {
      padding-bottom: 40px;
    }
  }
}

/***************************************/
/* Directory Menu
/***************************************/

.menu {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;
    position: relative;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }
  }
}

/***************************************/
/* Sub-Navigation
/***************************************/

.nav-sub {
  background-color: #000;
  padding: 10px;
  color: #FFF;
  position: absolute;
  min-width: 300px;
  z-index: 999;
  height: 100%;
  top: 0;
  left: 60px;
}

.post {
  background-color: #FFF;
  display: block;
  padding-top: 10px;

  h1 {
    margin-top: 0;
  }
}

.sit-sub {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #CCC;
}

.sit-title {
  margin-top: 0;
  font-size: 2em;
}

.forms {
  padding: 5px;

  h4 {
    margin-top: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #CCC;
    padding: 5px 10px;
    color: #FFF;
    font-weight: normal;
    background-color: #333;
  }

  .repeater {
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #CCC;
  }

  .form-controls {
    display: flex;

    label {
      flex: 1;
      background-color: #333;
      color: #F2F2F2;
      display: block;
      font-size: 0.8em;
      padding: 10px;
      border-bottom: 1px solid #CCC;
    }

    .controls {
      flex: 3;
      padding: 10px;
      border-bottom: 1px solid #CCC;

      input {
        display: block;
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid #CCC;

        &[disabled='disabled'], &:disabled {
          background-color: #CCC !important;
          cursor: not-allowed;
        }
      }

      input[disabled='disabled'] {
        background-color: #CCC;
      }

      textarea {
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #CCC;
      }
    }
  }
}

.not-implemented {
  display: block;
  height: 100%;
  width: 100%;

  .not-impl-notice {
    width: 500px;
    margin: 60px auto 0 auto;
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 3px 8px #CCC;
    border-radius: 3px;

    text-align: center;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.05em;
      color: #424142;
      margin-bottom: 30px;
    }

    p {
      color: #9c9c9c;

    }
  }
}

#menu-revert {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  width: 30px;
  text-align: center;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  z-index: 999;
  display: none;

  &:hover {
    color: orangered;
  }
}

.sectional {
  border-bottom: 1px solid @label-border;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Assignment */
.assignment {
  font-size: 0.8em;
  padding: 5px;
  border: 1px solid @label-border;
  margin-bottom: 10px;
}

.task {
  display: block;
  border: 1px solid @label-border;
  margin-bottom: 10px;
  cursor: pointer;

  .task-icon {
    display: block;
    float: left;
    padding: 10px 10px 10px 10px;
  }

  &:hover {
    background-color: @whoBlue;
    color: @white;
  }

  &:hover > p {
    color: @white !important;
  }

  .task-content {
    display: block;
    padding: 0 0 0 34px;
    font-size: 0.8em;

    .task-title {
      border-bottom: 1px solid @label-border;
      padding: 5px 10px;
      border-left: 1px solid @label-border;
    }

    .task-details {
      border-left: 1px solid @label-border;
      font-size: 0.9em;

      .setting {
        display: inline-block;
        padding: 3px 10px;
        color: @white;
        background-color: #333;
      }

      .value {
        display: inline-block;
        padding: 3px 10px;
        border-right: 1px solid @label-border;
      }
    }

  }
}

/* Notifications */
#notification-stream {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 350px;
  height: auto;
  z-index: 999999999999;

  .ew-not-modal {
    position: relative !important;
    margin-top: 10px;
    background-color: @white;

    &.red {
      .header {
        background-color: @lightRed !important;
        color: @red !important;

        .icon, .title {
          color: @red;
        }
      }
    }

    &.green {
      .header {
        background-color: @lightGreen !important;
        color: @green !important;

        .icon, .title {
          color: @green;
        }
      }
    }

    .header {
      display: block;
      background-color: @white;

      .icon {
        display: inline-block;
        padding: 10px 5px 10px 10px;
        color: #000;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
        font-weight: bold;
      }

      .title {
        padding: 10px 5px 10px 5px;
        color: #424142;
        display: inline-block;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
        font-weight: bold;
      }
    }

    .body {
      background-color: #333;
      color: @white !important;
      padding: 15px;
    }

    .footer {
      background-color: #333;
      color: #FFF;
      padding: 5px;
    }
  }

}

.z-depth-1, nav, .card-panel, .card, .toast, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4, .modal {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/** Search list Component **/

.search-list {
  display: block;

  .search {
    position: relative;

    .search-cancel {
      position: absolute;
      top: 6px;
      right: 6px;
      border: none;
      width: 24px;
      height: 24px;
      border-radius: 30px;
      background-color: black;
      color: white;
      text-align: center;
      font-size: 1.3em;
      cursor: pointer;
      line-height: 100%;
      padding: 0;
    }
  }

  .items {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid @label-border;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        cursor: pointer;
        display: block;
        border-bottom: 1px solid @label-border;
        padding: 5px;

        &.active {
          background-color: @whoBlue;
          color: @white;
        }

        &:hover {
          background-color: @label-bottom;
        }

        .item-title {

        }
      }
    }
  }
}

/** Select dropdowns **/

.location-tree-wrapper {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: @inputBgd;
  z-index: 9999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  ul.languages-options {
    display: block;
    float: left;

    li {
      display: block;
      float: left;

      .label {
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid @label-border;
        text-align: center;
        width: 25px;
        height: 25px;
        margin-right: 5px;

        &:hover {
          color: @white;
          background-color: @whoBlue;
        }
      }
    }

    .language {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &.relative {
    position: relative;
    display: block;
    top: auto;
    left: auto;
    max-height: 300px;
    width: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .location-tree, .tree {
      padding: 0;
    }
  }

  .search {
    padding: 5px;
    border-bottom: 1px solid @label-bottom;
  }

}

.location-tree, .tree {
  padding: 10px;
  font-size: 14px;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style: none;
      margin-bottom: 5px;
      border-bottom: none;
      padding: 0;

      li:nth-child(2) {
        background-color: transparent;
      }

      .node-check {
        display: block;
        float: left;
        margin-right: 10px;
        cursor: pointer;
      }

      .node-control {
        display: block;
        float: left;
        width: 18px;
        margin-right: 3px;
        text-align: center;

        i {
          text-align: center;
        }

        &:hover {
          cursor: pointer;
          border-radius: 3px;
          background-color: @label-border;
        }
      }

      .label {
        display: block;

        &:hover {
          color: @whoBlue;
          cursor: pointer;
        }
      }

      .children {
        margin-left: 15px;

        ul {
          li {
            margin-top: 3px;
          }
        }
      }
    }
  }
}

#tooltip {
  text-align: center;
  color: #fff;
  background: #000;
  font-size: 0.8em;
  position: absolute;
  z-index: 100;
  padding: 5px 10px;
}

#tooltip:after /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}

.location-stack, .tree-wrapper {
  display: block;
  height: 100%;
  color: #333;

  &.dark {
    color: #F1F1F1;

    input[type='text'] {
      color: #F1F1F1;
    }

    ul {
      li {
        .label {
          color: @white;

          &.green {
            color: green;
            span {
              color: green !important;
            }
          }

          span {
            color: @white;
          }

          span.location-type {
            color: #999999;
          }

          &:hover {
            color: @whoBlue;

            span {
              color: @whoBlue;
            }
          }
        }

        .node-control {
          &:hover {
            .fa {
              color: #333;
            }
          }
        }
      }
    }
  }

  .search {
    display: block;

    .search-wrapper {
      display: block;
      margin: 0 0px 0 0px;
      border: 2px solid #c1c1c1;
      box-shadow: 0 -1px 1px #FFFFFF;
      border-radius: 8px;
      padding: 3px;

      .icon {
        display: block;
        float: left;
        width: 16px;
      }

      input[type='text'] {
        border: none !important;
        font-size: 14px;
        margin: 0;
        padding: 0 !important;
        background: transparent !important;
      }
    }
  }

  .location-tree, .tree {
    padding: 10px 0 0 0;

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    li {
      list-style: none;
      display: block;

      .label {
        color: #333;
        font-size: 14px;

        span {
          color: #333;
        }
        &.green {
          color: @green;

          span {
            color: @green;
          }
        }
      }

    }
  }
}

.placeholder {
  text-align: center;
  padding: 45px 0;
}

/** FOOTER **/

.app-footer {
  border-top: @footerBorderTop;
  background: @footerBgd;
  height: 25px;
  padding: 5px;

  span {
    font-size: @defaultFontSize;
    float: left;
    color: #848484;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: @whoBlue;
      }
    }

    &.pull-right {
      float: right;
    }
  }
}

/** PASSWORD_RECOVER **/

.recovery-view {
  display: block;
  width: 500px;
  margin: 30px auto 0 auto;
}

/** SPINNER **/
.spinner-wrap {
  display: block;

  .spinner {
    padding: 25px 0;
    text-align: center;
    font-size: 30px;
    color: #333;
  }
}

/** OFFLINE **/

.offline {
  position: absolute;
  top: 10px;
  width: 400px;
  border-radius: 3px;
  left: 50%;
  margin-left: -200px;
  background-color: red;
  color: @white;
  padding: 8px;
  box-shadow: 0px 6px 6px #CCC;
}

/** WARNING **/

.warning {
  background-color: @lightAmber;
  color: @amber;
  padding: 5px;
  border-radius: 3px;
  display: block;
}

/** EXPLAINER**/

.explain {
  display: inline-block;
  position: relative;

  .explanation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: @white;
    border-radius: 3px;
    min-height: 30px;
    width: 300px;
    border: 1px solid @label-border;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-decoration: none;
    text-transform: none;
    text-align: left !important;
    padding: 8px;

    .explain-title {
      text-align: left;
      font-weight: bold;
      display: block;
      margin-bottom: 3px;
    }

    .content {
      display: block;
    }
  }
}

/**  MOBILE_ERRORS **/
/** Shown when user visits from a mobile device **/

.mob {
  width: 250px;
  margin: 20px auto 0 auto;

  h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: @white;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
  }

  p {
    line-height: 1.2em;
    margin-bottom: 8px;
  }
}

/** GROWL **/
.growl-wrapper {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;

  .growl-content {
    padding: 10px;
    color: #F1F1F1;
    background-color: #000;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    font-size: 12px;
    display: block;
    opacity: 0.9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

/** BREADCRUMB **/

.breadcrumb {
  display: block;
  background-color: @label-bottom;

  ul {
    display: block;

    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      float: left;

      a {
        display: block;
        float: left;
        padding: 8px 10px;
        color: #1780c9;

      }
    }

  }
}

.zone {
  display: block;
  margin: 16px 8px 16px 16px;

  .zone-title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .zone-items {
    display: block;
    margin-left: 10px;

    .item {
      display: block;
      margin-bottom: 8px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.green {
  color: @green;
}

.report-progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 3px;
  background: #FFF;
  width: 100%;
  text-align: center;
  color: #333;

  .report-progress-inner {
    background: @green;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
  }
}

.assign-list {
  margin: 8px;
}

.assign-list-item {
  display: block;
  margin-bottom: 8px;
  border: 1px solid rgb(222, 222, 222);
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background: rgba(0,0,0,0.1);
  }


  .assign-create {
    border-right: 6px solid transparent;
  }

  .create-btn, .browse-btn {
    cursor: pointer;
    text-align: center;
    border-radius: 60px;
    padding: 8px;

    &:hover {
      background: #333;
    }
  }

  .create-btn {
    background: @green;
    color: #F2F2F2;
  }

  .browse-btn {
    background: @amber;
    color: #F2F2F2;
  }

  .assign-control {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background: #F2F2F2;

    .ide-col {
      position: relative;
    }

    .icon, .label {
      display: block;
      float: left;
      padding: 8px;
    }

    .icon {
      text-align: left;
      font-size: 16px;

    }

    .label {
      text-align: left;
    }

    &.create {
      color: @green;
      margin-right: 4px;
    }

    &.browse {
      color: @amber;
      margin-left: 4px;
    }

    &:hover {
      background: #333;
      color: #F2F2F2;
    }
  }
}

.gui-blocker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);
  width: 100%;
  height: 100%;

  .gui-blocker-msg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -37px;

    .gui-blocker-icon {
      font-size: 40px;
      display: block;
      margin-bottom: 18px;
      color: #FFFFFF;
      text-align: center;
    }

    .gui-message {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #FFF;
    }
  }
}

/** Generic Lists **/
.iw-list {
  display: block;
  overflow-y: auto;

  .iw-list-item {
    display: block;
    border-bottom: 1px solid #dadada;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: #ececec;
    }

    .title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .content {

    }
  }
}

.report-tabs-overflow {
  display: block;
  width: 50px;
  height: 34px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 999;
  background: #FFF;
  border-left: 1px solid #dadada;
  padding: 12px 0px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;

  .handle {
    &:hover {
      background: @grey;
      color: @white;
    }
  }

  .tabs-list {
    position: absolute;
    top: 35px;
    right: 0;
    min-width: 200px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: auto;
    background: #FFFFFF;

    .tab-item {
      display: block;
      padding: 8px;
      color: #333;
      border-bottom: 1px solid #dadada;
      text-align: left;

      &:hover {
        background: #333;
      }
    }
  }
}

.context-menu {
  display: block;
  position: absolute;
  width: 250px;
  height: auto;
  background: #FFFFFF;
  color: #333;
  z-index: 999;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .context-menu-item {
    display: block;
    padding: 5px 8px;
    border-bottom: 1px solid #dadada;

    &:hover {
      background: #333;
      color: #FFFFFF;
    }
  }
}

.search {
  margin: 14px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 3px;

  .search-inner {
    border-radius: 3px;

    .ide-col {

      &.search-left {
        text-align: center;
        padding-top: 7px;
      }

      &.search-right {
        text-align: center;
        padding-top: 7px;
        cursor: pointer;


        &:hover {
          color: @red;
        }
      }

      input[type="text"] {
        border: none !important;
        outline: none;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }

    }

    i {
      text-align: center;
    }
  }
}

.overdue-list {
  display: block;
  min-height: 200px;
  overflow: auto;

  .overdue-item {
    display: block;
    border-bottom: 1px solid #CCC;

    .header {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;

      .title {
        font-weight: bold;
        padding: 8px 8px 0 8px;
        margin-bottom: 5px;
      }

      .content {
        padding: 0px 8px;
      }
    }

    .missing {
      display: block;
      margin-bottom: 8px;

      .missed {
        display: block;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        margin-bottom: 5px;
        cursor: pointer;
        padding: 5px;
        margin-left: 8px;
        margin-right: 8px;

        &:hover {
          background: #ececec;
        }
      }
    }
  }
}

@keyframes moveIn {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes moveOut {
  100% {
    left: 0%;
  }

  0% {
    left: 100%;
  }
}

@keyframes moveUp {
  0% {
    top: 100%;
  }

  100% {
    top: 0%;
  }
}

@keyframes moveDown {
  0% {
    top: 0%;
  }

  100% {
    top: 100%;
  }
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.5);

  &.shown {

    .shade-content {
      animation: moveIn 0.5s ease;
    }
  }

  &.hidden {
    display: none;

    .shade-content {
      left: 100%;
    }
  }

  .shade-close {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-top: -20px;
    margin-left: -23px;

    &:hover {
      color: red;
    }

    .fa {
      font-size: 30px;
      color: #FFFF;
      cursor: pointer;
    }

  }

  .shade-shoulder {
    &:hover {
      .shade-close {
        color: red;

      }
    }
  }

  .shade-content {
    background: @bgd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bttn {
  display: inline-block;
  border: @bttnBorder;
  color: @bttnColor;
  background: @bttnBackground;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 8px;
  font-weight: bold;

  &.disabled {
    color: @bttnDisabledTxtColor;
  }

  &.red {
    border-color: @red;
    color: @red;

    &:hover {
      background: @red;
      color: @white;
    }
  }

  &.amber {
    border-color: @amber;
    color: @amber;

    &:hover {
      background: @amber;
      color: @white;
    }
  }

  &.green {
    border-color: @green;
    color: @green;

    &:hover {
      background: @green;
      color: @white;
    }
  }

  &:hover, &.active {
    background: @bttnActiveBackground;
    color: @bttnActiveColor;
  }

  &.no-label {
    i {
      padding-right: 0;
    }
  }

  i {
    padding-right: 6px;
  }
}

.merge-tree {
  padding: 10px;

  ul {
    display: block;

    li {
      display: block;
      margin-bottom: 5px;
    }
  }
}

.iw-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;

  .iw-overlay-center {
    position: relative;
    background: @ideBgd;
    height: auto;
    width: 500px;
    margin: 60px auto 0 auto;

    table {
      tr {
        cursor: pointer;

        &:hover {
          td {
            background: @inputBgd;
          }
        }

        th {
          background: #000000;
          text-align: left;
        }

        td, th {
          padding: 6px;
        }
      }
    }
  }
}

.chart-loading {
  font-size: 16px;
  vertical-align: middle;
}

.collapser {
  position: absolute;
  width: 10px;
  height: 10px;
  background: @ideBgd;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background: #333;
    color: #F2F2F2;
  }

  &.right {
    top: -10px;
    right: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

  }

  &.left {
    top: 10px;
    left: -10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.permit-table {
  width: 100%;

  td, th {
    text-align: left;
  }

  thead {
    tr {
      th {
        background: rgba(0, 0, 0, 0.1);
        min-height: 50px;
        padding-bottom: 60px;
        padding-right: 60px;
      }
      th:first-child {
        border-right: 3px solid transparent;
      }
    }
  }

  tbody {
    tr {
      td, th {
        padding: 8px;
        border-right: 5px solid transparent;
        background: rgba(0, 0, 0, 0.1);
      }

      th:first-child {
        text-align: right;
      }
    }
  }
}

.keyed-editor {
  width: 100%;

  thead {
    tr {
      th {
        padding: 8px;
        color: #F2F2F2;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  tbody {
    tr {
      td:first-child {
      }
      td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px;
      }
    }

    tr.editing {
      td {
        padding: 0;
      }
    }
  }
}

.print-record {
  display: block;
  margin: 0 auto;
  width: 980px;
  padding-top: 20px;

  .form-name {
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    display: block;
    margin-bottom: 8px;
  }

  .location-name, .record-date {
    font-size: 16px;
    display: block;
  }

  .data {
    display: block;
    margin-top: 16px;
    padding-bottom: 16px;

    .header {
      display: block;
      padding: 8px 8px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 12px;
      background: #F2f2f2;
      margin-bottom: 6px;
    }

    .sub-header {
      display: block;
      padding: 8px 0;
      font-size: 16px;
      font-weight: bold;
      margin-top: 8px;
    }

    table {
      width: 100%;
      border: 1px solid #CCCCCC;
      margin-bottom: 6px;

      tr {
        th {
          background: #F2F2F2;
          padding: 8px;
          text-align: right;
          border-right: 1px solid #CCCCCC;
          border-bottom: 1px solid #CCCCCC;
          font-size: 14px;
          font-weight: bold;
        }

        td {
          padding: 8px;
          border-right: 1px solid #CCCCCC;
          border-bottom: 1px solid #CCCCCC;
          font-size: 14px;
          text-align: right;
        }
      }
    }

    .field {
      display: flex;
      border: 1px solid #CCCCCC;
      margin-bottom: 4px;

      .label {
        flex: 1;
        font-weight: bold;
        font-size: 14px;
        padding: 8px;
        text-align: right;
        border-right: 1px solid #CCCCCC;
        background: #F2F2F2;
      }

      .value {
        flex: 2;
        font-size: 14px;
        padding: 8px;
      }
    }
  }

}

.account-selector {
  position: absolute;
  top: 35px;
  right: 0;
  width: 200px;
  border: 1px solid #CCCCCC;
  z-index: 99999;
  background: #F2F2F2;
  max-height: 300px;
  display: block;

  .account-inner {
    max-height: 200px;
    overflow-y: auto;

    .account-item {
      display: block;
      background: #FFFFFF;
      width: 100%;
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid #CCCCCC;

      &:hover {
        background: #333333;
        color: #F2F2F2;
      }
    }
  }
}

.map-wrap-canvas {
}

.map-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
