.ew-modal {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  max-height: 90%;
  z-index: 1040;
  background-color: @ideBgd;
  box-shadow: 0px 4px 8px #000;
  border-radius: 3px;

  .ew-modal-header {
    display: block;
    padding: 5px;
    border-bottom: @ideDTBorder;

    h4 {
      display: inline-block;
      font-size: 0.8em;
    }
  }

  .ew-modal-body {
    display: block;
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;

    .form {
      display: inline-block;
      margin: 0 0 0 0 !important;
    }
  }

}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);
  z-index: 999;

  &.wizard, .wizard {

    input[type='text'] {
      color: @defaultTxtColor;
    }

    .modal-content {
      background-color: @ideBgd;
      color: @defaultTxtColor;
      border-top: @inputBorder;
      border-bottom: @inputBorder;

      .modal-body {
        padding: 0;



        .wizard-page {

          h3 {
            display: block;
            border-bottom: 1px solid #CCC;
            padding: 8px 18px;
            margin-bottom: 8px;
            margin-top: 0px;
          }

          h4 {
            padding: 0 18px;
            margin-bottom: 8px;
            margin-top: 14px;
          }

          p {
            display: block;
            padding: 0 0px;
            margin-bottom: 8px;
          }

          .padded {
            padding: 0 10px;
            display: block;
            margin-left: 8px;
            margin-right: 8px;

            &.location {
              max-height: 300px;
              overflow-y: auto;
            }
          }

          .details {
            width: 100%;

            th, td {
              text-align: left;
              padding: 3px;
              vertical-align: middle;
            }

            th {
              font-weight: bold;
            }
          }
        }

      }

      .modal-footer {
        display: block;
        height: 42px;
        margin-top: 8px;
        padding: 8px;
      }
    }

  }

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }

  .modal-content {
    position: relative;
    display: block;
    width: 600px;
    margin: 0px auto 0 auto;
    background: @ideBgd;
    max-height: 100%;
    -webkit-box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;


    @media screen and (max-width: 980px) {
      width: 720px;
    }

    .modal-title {
      font-size: 16px;
      height: 32px;
      border-bottom: @inputBorder;

      .modal-icon {
        display: block;
        float: left;
        background: @ideBgd;
        padding: 8px;

        i {
          background: @ideBgd;
        }
      }

      .modal-title-content {
        display: block;
        float: left;
        padding: 8px;
      }
    }

    .modal-body {
      max-height: 521px;
      overflow-y: auto;

      .report {
        overflow: inherit !important;
      }

      .limiter {
        display: block;
        height: 300px;
        overflow-y: scroll;
      }

      table {
        height: 100%;
        max-height: 100%;
      }

      .modal-scroll {
        display: block;
        //overflow-y: scroll;
      }

      h3 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 14px;
        margin-top: 20px;
      }

      p {
        font-size: 12px;
        padding: 0px 0px 8px 0;
      }
    }

    .modal-footer {
      position: relative;
      background: inherit;
      display: block;
      height: 39px;
      padding: 8px;
      border-top: @inputBorder;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      .btn-group {
        margin: 0 !important;
      }

    }
  }
}

.form-browser {
  border: @defaultBorder;

  .forms-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 8px;

    .form-small {
      display: block;
      padding: 8px;
      border: 1px solid transparent;
      cursor: pointer;
      margin-bottom: 8px;

      &:hover {
        border: 1px solid #CCC;
      }

      .name {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
      }

      .interval {
        display: block;
        font-size: 12px;
      }
    }

    .form-large {
      color: #F2F2F2;
    }
  }
}

.user-type-list {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  border-bottom: 1px inset rgba(0, 0, 0, 0.8);
  border-top: 1px inset rgba(0, 0, 0, 0.8);

  .user-type {
    display: block;
    border: 1px solid transparent;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      border: 1px solid #CCC;
    }

    &.selected {
      border: 1px solid #CCC;

      background: #F2F2F2;
      color: #333;

      .name {
        color: #333;
      }
    }

    .name {
      font-size: 14px;
      font-weight: bold;
      color: #F2F2F2;
      display: block;
      margin-bottom: 5px;
    }

    .description {
      font-size: 12px;
      display: block;
    }
  }
}

.privileges {
  display: block;
  border: 1px solid @label-border;
  padding: 8px;

  ul {
    margin: 0;
    list-style: disc !important;

    li {
      display: block;
      list-style: disc;
    }
  }
}

.errors {
  display: block;
  margin: 0 0 16px 0;
  padding: 0 18px;
  list-style: disc !important;

  li {
    display: block;
    color: @red;
    margin-bottom: 5px;
  }
}

.modal-toggle-wrapper {
  display: inline-block;
  width: 200px;

  .modal-toggle-label {
    display: inline-block;
    padding-right: 8px;
    margin-top: 3px;
  }

  .modal-switch-wrapper {
    display: inline-block;
  }
}