@polar0: rgb(47, 52, 64);
@polar1: rgb(59, 66, 81);
@polar2: rgb(67, 76, 93);
@polar3: rgb(76, 86, 105);

@snow0: rgb(216, 222, 233);
@snow1: rgb(229, 233, 240);
@snow2: rgb(236, 239, 244);

@frost0: rgb(144, 188, 187);
@frost1: rgb(138, 192, 207);
@frost2: rgb(130, 161, 192);
@frost3: rgb(95, 130, 170);

@aurora0: rgb(190, 97, 107);
@aurora1: rgb(207, 135, 114);
@aurora2: rgb(234, 202, 143);
@aurora3: rgb(164, 189, 142);
@aurora4: rgb(179, 143, 172);

.hbox {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  position: relative;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  position: relative;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}


.block {
  display: block;
  flex: 1;
  position: relative;

  &.overY {
    overflow-y: auto;
  }

  &.tbar {
    background: @polar1;
    color: @snow0;

    .tbar-title {
      display: block;
      float: left;
      padding: 8px;

      i {
        padding-right: 4px;
      }
    }
  }


  &.text-block {
    line-height: 28px;
    text-indent: 8px;
  }
}

.hbox, .vbox, .block {
  &.border-right {
    border-right: 1px solid @polar2;
  }

  &.border-bottom {
    border-bottom: 1px solid @polar2;
  }

  &.border-left {
    border-left: 1px solid @polar2;
  }

  &.border-top {
    border-top: 1px solid @polar2;
  }
}