<!doctype html>


<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - {{ client['name'] }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    {% if debug %}
    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>
    {% else %}
    <script src="/static/vendor/react/react.min.js"></script>
    <script src="/static/vendor/react/react-dom.min.js"></script>
    {% end %}

    <style>
        .loading-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            margin-left: -250px;
            margin-top: -100px;
            text-align: center;
        }

        .loading-screen .title {
            font-weight: bold;
            font-size: 30px;
            color: #CCC;
            margin-bottom: 16px;
        }

        .loading-screen p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #CCC;
        }

        .loading-screen .team {
            color: #CCCCCC;
        }
    </style>

    {% if debug %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css"/>
    {% else %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css?v={{ version }}"/>
    {% end %}

    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <script type="application/json" id="user">{% raw json_encode(user) %}</script>
    <script type="application/json" id="account">{% raw json_encode(account) %}</script>
    <script type="application/json" id="instance">{% raw json_encode(instance) %}</script>
    <script type="application/json" id="config">{%  raw json_encode(configs) %}</script>
    <script type="application/json" id="invite">{%  raw json_encode(invitation) %}</script>

    <script type="text/javascript">
        {% if user %}
        window.user = JSON.parse(document.getElementById("user").innerText);
        {% end %}
        window.instance = JSON.parse(document.getElementById("instance").innerText);
        window.account = JSON.parse(document.getElementById("account").innerText);
        window.config = JSON.parse(document.getElementById("config").innerText || '{}');
        window.invitation = JSON.parse(document.getElementById("invite").innerText || '{}');

        var elem = document.getElementById("user");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("account");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("instance");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("invite");
        elem.parentNode.removeChild(elem);
    </script>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% if not client['public'] %}

<div id="menu-revert">
    <i class="fa fa-square"></i>
</div>
<div class="ide">
    <div class="ide-layout">
        <div class="ide-row" style="max-height: 40px;">
            <div class="ide-col">
                <div id="core-navigation">
                    <div class="navigation" id="main-nav">
                        <a href="/" class="nav-logo">EWARS</a>

                        <div class="menu-item right">
                            <a href="/logout"><i class="fal fa-sign-out"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="ide-row">
            <div class="ide-col">
                <div id="application" class="application">
                    <div class="loading-screen">
                        <div class="title">Loading...</div>
                        <p>Thank you for using EWARS. We appreciate it!</p>
                        <p class="team">- Your friends at EWARS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ide-row" style="max-height: 24px;">
            <div class="ide-col">
                <div class="app-footer">
                    <span style="width: 250px">Logged in as {{ auth['name'] }}</span>
                    <span class="pull-right">&copy; WHO 2017. All Rights Reserved. <a href="/releases/index"
                                                                                      target="_blank">v{{ version }}</a></span>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="layout">-->

<!--</div>-->

{% else %}

<div id="app">

</div>

{% end %}

<div id="notification-stream"></div>
<div id="omnisearch" style="display: none;">
    <input type="text" id="omnisearch-term" placeholder="Search.."/>

    <div id="omni-results">
        <ul id="omni-results-list">

        </ul>
    </div>
</div>


<script src="/static/vendor/jquery.min.js.gz"></script>
<script src="/static/vendor/underscore.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highstock-all.js.gz"></script>
<script src="/static/vendor/ckeditor/ckeditor.js.gz"></script>
<script type="text/javascript">
    CKEDITOR.dtd.a.div = true;
    CKEDITOR.dtd.p.div = true;
    CKEDITOR.dtd.span.div = true;
</script>
<!--<script src='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>-->
<link href='/static/vendor/mapbox/mapbox-gl.css' rel='stylesheet'/>
<link rel='stylesheet' href='/static/vendor/mapbox/mapbox-gl-draw.css'
      type='text/css'/>
<script src="/static/bundles/{{ ewars_file }}"></script>
<script src="/static/bundles/{{ client_file }}"></script>
</body>
</html>