<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Print Record</title>

    {% if debug %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css"/>
    {% else %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css?v={{ version }}"/>
    {% end %}

    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>


</head>
<body onload="printer()">

<div class="print-record">
    <div class="form-name">{{ form['name'].get("en", "No Name") }}</div>
    {% if location_name is not None %}
    <div class="location-name"><strong>Location: </strong>{{ location_name }}</div>
    {% end %}
    {% if record_date is not None %}
    <div class="record-date"><strong>Record Date: </strong> {{ record_date }}</div>
    {% end %}

    <div class="data">

        {% for field in fields %}
        {% if field[3] == 'style-title' %}
        <div class="header">{{ field[1] }}</div>
        {% elif field[3] == 'style-sub-title' %}
        <div class="sub-header">{{ field[1] }}</div>
        {% elif field[3] == 'matrix' %}
        <div class="header">{{ field[1] }}</div>
        <table width="100%">
            {% for row in field[4] %}
            <tr>
                <th width="30%">{{ row[1] }}</th>
                {% for cell in row[4] %}
                <td>
                    <table>
                        <tr><th>{{ cell[1] }}</th</tr>
                        <tr><td>{{ cell[2] }}</td></tr>
                    </table>
                </td>
                {% end %}
            </tr>
            {% end %}
        </table>
        {% else %}
        <div class="field">
            <div class="label">{{ field[1] }}</div>
            <div class="value">{{ field[2] }}</div>
        </div>
        {% end %}
        {% end %}

    </div>

    <div class="metadata">
        <div class="data">
            <div class="header">Record Information</div>
            <div class="field">
                <div class="label">EWARS ID:</div>
                <div class="value">{{ record['uuid'] }}</div>
            </div>
            <div class="field">
                <div class="label">Submitted:</div>
                <div class="value">{{ record['submitted'] }}</div>
            </div>
            <div class="field">
                <div class="label">Submitter</div>
                <div class="value">{{ record['user_name'] }} ({{ record['user_email'] }})</div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    const printer = function() {
        window.print();
        window.close();
    }
</script>

</body>
</html>
