<!doctype html>

<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.get("title") }} - {{ page.get("title") }}</title>

    <meta name="description" content="{{ page.get("description") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">


    <link rel="stylesheet" href="/static/themes/flex/style.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    {% if debug %}
    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>
    {% else %}
    <script src="/static/vendor/react/react.min.js"></script>
    <script src="/static/vendor/react/react-dom.min.js"></script>
    {% end %}

    <script type="text/javascript">
        window.c = {
            page_type: '{% raw page_type %}',
            data: JSON.parse('{% raw encoder(page) %}')
        }


    </script>

    <style>
        .site {
            display: block;
            height: 100%;
        }

        .menu {
            max-width: 300px;
            background: #C2C2C2;
            border-right: 1px solid #CCCCCC;
        }

        .menu-items {
            display: block;
            margin-top: 14px;
        }

        .menu-item {
            display: block;
            margin-bottom: 3px;
        }

        .menu-label {
            display: block;
        }

        .menu-label a {
            display: block;
            padding: 5px 0px;
            color: #333333;
            text-indent: 14px;
            font-size: 12px;
        }

        .menu-label a:hover {
            background: #333333;
            color: #F2F2F2;
        }

        .menu-children {
            display: block;
        }

        .menu-children a {
            text-indent: 28px;
        }

        .menu-children .menu-children a {
            text-indent: 42px;
        }

        .menu-children .menu-children .menu-childnre a {
            text-indent: 56px;
        }

        .site-header {
            background: #F2F2F2;
            max-height: 120px;
        }

        .site-name {
            text-align: center;
            color: #333333;
            font-weight: bold;
            display: block;
            margin-top: 20px;
            font-size: 16px;
        }

        .site-name a {
            color: #333333;
        }

        .theme-article {
            width: 70%;
            margin: 30px auto 0 auto;
        }

        .hr {
            display: block;
            height: 1px;
            background: #C2C2C2;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .breadcrumb {
            display: block;
            background: transparent !important;
        }

        .breadcrumb a {
            display: inline-block;
            background: transparent;
            padding: 3px 0;
            color: #333333;
            font-size: 12px;
        }

        .breadcrumb a:hover {
            color: #1e8ed9;
        }

        #siteApplication {
            display: block;
        }

        .chart {
            background: #eeeeee;
            padding: 8px;
            margin-bottom: 16px;
        }

        .table {

        }

        table tr th {
            background: #CCCCCC;
            padding: 3px;
        }

        table tr td {
            padding: 3px
        }


    </style>
</head>
<body>


<div class="site">
    <div class="ide">
        <div class="ide-layout">
            <div class="ide-row">
                <div class="ide-col menu">
                    <div class="ide-layout">
                        <div class="ide-row site-header">
                            <div class="ide-col">
                                <div class="site-name"><a href="{{ route }}">{{ site.get("title") }}</a></div>
                            </div>
                        </div>
                        <div class="ide-row">
                            <div class="ide-col">
                                <div class="menu-items">
                                    {% raw menu %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ide-col">
                    <div class="ide-panel ide-panel-absolute ide-scroll">
                        <div class="article theme-article">
                            <div class="breadcrumb">
                                <a href="{{ route }}">{{ site.get("title") }}</a>
                            </div>
                            <div class="hr"></div>
                            <h1>{{ page.get("title") }}</h1>
                            {% if content %}
                            {% raw content %}
                            {% else %}
                            <div id="siteApplication"></div>
                            {% end %}

                            <div class="hr"></div>
                            <p>Last updated: {{ page.get("last_modified") }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<script src="/static/vendor/underscore.js.gz"></script>
<script src="/static/vendor/jquery.min.js.gz"></script>
<script src="/static/bundles/{{ ewars_file }}"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highstock-all.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highcharts-more.js"></script>
<script type="text/javascript" src="/static/bundles/{{ client_file }}"></script>

</body>
</html>