<!doctype html>


<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - {{ client['name'] }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    <style>
        .loading-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            margin-left: -250px;
            margin-top: -100px;
            text-align: center;
        }

        .loading-screen .title {
            font-weight: bold;
            font-size: 30px;
            color: #CCC;
            margin-bottom: 16px;
        }

        .loading-screen p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #CCC;
        }

        .loading-screen .team {
            color: #CCCCCC;
        }
    </style>

    {% if debug %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css"/>
    {% else %}
    <link rel="stylesheet" href="/static/themes/{{ theme }}/style.css?v={{ version }}"/>
    {% end %}

    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <link href='/static/vendor/mapbox/mapbox-gl.css' rel='stylesheet' type="text/css"/>

    <link rel='stylesheet' href='/static/vendor/mapbox/mapbox-gl-draw.css'
          type='text/css'/>

    {% if debug %}
    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>
    {% else %}
    <script src="/static/vendor/react/react.min.js"></script>
    <script src="/static/vendor/react/react-dom.min.js"></script>
    {% end %}

    <script type="application/json" id="user">{% raw json_encode(user) %}</script>
    <script type="application/json" id="account">{% raw json_encode(account) %}</script>
    <script type="application/json" id="instance">{% raw json_encode(instance) %}</script>
    <script type="application/json" id="config">{%  raw json_encode(configs) %}</script>
    <script type="application/json" id="invite">{%  raw json_encode(invitation) %}</script>

    <script type="text/javascript">

        window.CKEDITOR_BASEPATH = "/static/vendor/ckeditor/";
        {% if user %}
        window.user = JSON.parse(document.getElementById("user").innerText);
        {% end %}
        window.instance = JSON.parse(document.getElementById("instance").innerText);
        window.account = JSON.parse(document.getElementById("account").innerText || '{}');
        window.config = JSON.parse(document.getElementById("config").innerText || '{}');
        window.invitation = JSON.parse(document.getElementById("invite").innerText || '{}');

        var elem = document.getElementById("user");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("account");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("instance");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("invite");
        elem.parentNode.removeChild(elem);
    </script>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% if not client['public'] %}

<div id="menu-revert">
    <i class="fa fa-square"></i>
</div>
<div class="ide">
    <div class="ide-layout">
        <div class="ide-row" style="max-height: 30px;">
            <div class="ide-col">
                <div id="core-navigation">
                    <div class="navigation" id="main-nav">
                        {% if auth.get("account", None) is not None %}
                        {% if auth['account'].get("iso2", None) is not None %}
                        <div class="nav-flag"><span
                                class="flag-icon flag-icon-{{ auth['account']['iso2'] }}"></span>
                        </div>
                        {% end %}
                        {% end %}

                        <div class="menu-item">
                            <a href="#"><i class="fal fa-bars"></i></a>
                            {% include 'menu.html' %}
                        </div>
                        <a href="/" class="nav-logo">EWARS</a>

                        <div class="menu-item">
                            <a href="/reporting"><i class="fal fa-clipboard"></i>&nbsp;</a>
                        </div>

                        <div class="menu-item">
                            <a href="/alerts"><i class="fal fa-bell"></i>&nbsp;</a>
                        </div>

                        <div class="menu-item">

                            <a href="/inbox" class="inbox-link">
                                <div class="inbox-meta">
                                    <i class="fal fa-envelope"></i>&nbsp;{{ inbox_count }}&nbsp;
                                    &nbsp;<i class="fal fa-check-square"></i>&nbsp;{{ task_count }}
                                </div>
                            </a>
                        </div>

                        <div class="menu-item right">
                            <a href="/logout"><i class="fal fa-sign-out"></i></a>
                        </div>
                        <div class="menu-item right">
                            <a href="/profile"><i class="fal fa-user"></i>&nbsp;</a>
                        </div>
                        {% if auth['role'] in ["ACCOUNT_ADMIN"] %}
                        <div class="menu-item right">
                            <a href="/settings"><i class="fal fa-cogs"></i></a>
                        </div>
                        {% end %}
                        <div class="menu-item right">
                            <a href="http://docs.ewars.ws" target="_blank"><i class="fal fa-question-circle"></i>&nbsp;
                            </a>
                        </div>
                        {%  if accounts %}
                        <div class="menu-item right" style="position: relative;">
                            <a href="#" id="acc-swapper">
                            <i class="fal fa-building"></i>&nbsp;<i class="fal fa-caret-down"></i>
                            </a>

                            <div class="account-selector" id="acc-drop" style="display: none;">
                                <div class="account-inner">
                                    {%  for acc in accounts %}
                                    <a href="http://{{ acc['domain'] }}/swap/{{ acc['tki'] }}/{{ auth['api_token'] }}" target="_blank" class="account-item">
                                        <div class="name">{{ acc['name'] }}</div>
                                        <div class="domain">{{ acc['domain'] }}</div>
                                    </a>
                                    {%  end %}
                                </div>
                            </div>
                        </div>
                        {%  end %}

                    </div>
                </div>

            </div>
        </div>
        <div class="ide-row">
            <div class="ide-col">
                <div id="application" class="application">
                    <div class="loading-screen">
                        <div class="title">Loading...</div>
                        <p>Thank you for using EWARS. We appreciate it!</p>
                        <p class="team">- Your friends at EWARS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ide-row" style="max-height: 25px;">
            <div class="ide-col">
                <div class="app-footer">
                    <span style="width: 250px">Logged in as {{ auth['name'] }}</span>
                    <span class="pull-right">&copy; WHO 2019. All Rights Reserved. <a href="/releases/index"
                                                                                      target="_blank">v{{ version }}</a></span>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="layout">-->

<!--</div>-->

{% else %}

<div id="app">

</div>

{% end %}

<div id="notification-stream"></div>


<script src="/static/vendor/underscore.js.gz"></script>
<script src="/static/vendor/ckfinder/ckfinder.js"></script>
<style>
.widget_editor {
	background: grey;
	border-radius: 3px;
padding: 10px;
margin: 1em 0;
cursor: pointer;
}

.widget_editor:hover {
	background: blue;
}
.document-editor {
	border: 1px solid var(--ck-color-base-border);
	border-radius: var(--ck-border-radius);
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.document-editor__toolbar {
	z-index: 1;
	border-bottom: 1px solid var(--ck-color-toolbar-border);
}

.document-editor__toolbar .ck-toolbar {
	border: 0;
	border-radius: 0 !important;
}

.document-editor__editable-container {
	padding: calc( 2 * var(--ck-spacing-large) );
	background: var(--ck-color-base-foreground);
	overflow-y: auto;
flex: 2;
}

.document-editor__editable-container .ck-editor__editable {
	width: 21.0cm;
	height: 29.7cm;
	max-height: 29.7cm;

	border: 1px solid hsl(0,0%,82.7%) solid;
	border-radius: var(--ck-border-radius);
	background: white;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
	margin: 0 auto 30px auto;
}

.document-editor .ck-content, .document-editor .ck-heading-dropdown .ck-list .ck-button__label {
	font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
</style>
<script src="/static/vendor/d3/d3.min.js"></script>
<script src="/static/vendor/Highstock-6.0.2/code/highstock.js"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/funnel.js"></script>
<script src="/static/vendor/ckeditor/ckeditor.js.gz"></script>
<script type="text/javascript">
    CKEDITOR.dtd.a.div = true;
    CKEDITOR.dtd.p.div = true;
    CKEDITOR.dtd.span.div = true;
</script>

<script src="/static/vendor/webcomponentsjs/webcomponents-loader.js"></script>
<script src="/static/bundles/{{ ewars_file }}" type="application/javascript"></script>
<script src="/static/bundles/{{ client_file }}" type="application/javascript"></script>
</body>
</html>
