.action-group {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 0;
  flex-grow: 0;
  min-height: 25px;
  max-height: 25px;
}
.action-group.naked .action-item {
  border: none !important;
}
.action-group .sub-group {
  display: flex;
  flex: 1;
  margin-right: 5px;
  flex-basis: 0;
  flex-grow: 0;
}
.action-group .sub-group .action-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #DADADA;
}
.action-group .sub-group .action-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.action-group.naked .action-item {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
.action-group .action-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #DADADA;
}
.action-group .action-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.action-item {
  display: flex;
  max-width: 30px;
  width: 30px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex: 1;
  transition: all 0.5s ease;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}
.action-item:hover {
  color: lightblue;
  font-weight: bold;
  background: #DADADA;
}
.action-cell .action-item,
.footbar .action-item {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.dt-toolbar .action-group {
  margin-top: 5px;
  margin-right: 8px;
}
.record-toolbar .action-group,
.gen-toolbar .action-group {
  margin-top: 3px;
  margin-right: 8px;
}
.dark .gen-toolbar .grid-title {
  color: #DADADA;
}
.dark .gen-toolbar .action-item {
  color: #DADADA;
}
.dt-footer .action-group {
  margin-top: 3px;
  margin-right: 8px;
}
.footbar .action-group {
  margin-top: 3px;
}
/*# sourceMappingURL=actiongroup.css.map */