.dash-card {
    background: #FFFFFF;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;

    .card-header {
        padding: 8px;
        margin-bottom: 8px;
        display: flex;

        .card-link {
            padding-left: 8px;
            color: #4175f7;
        }

        .card-title {
            font-size: 1.2rem;
            color: #333333;
        }
    }

    .card-body {
        padding: 8px;
    }

    .card-wrapper {
        margin: 8px 8px 8px 0;
    }
}
