.dt-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dt-wrapper tbody tr td {
  font-size: 12px;
  padding: 5px;
  border-right: 1px solid #DADADA;
  white-space: nowrap;
  border-bottom: 1px solid #DADADA;
}
.dt-wrapper tbody tr td.action-cell {
  padding: 0;
}
.dt-wrapper tbody tr td .action-group {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.dt-wrapper tbody tr td .action-group .action-item {
  font-size: 12px;
}
.dt-wrapper tbody tr td.numeric {
  text-align: right;
}
.dtCore {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  border-top-width: 0px;
  outline-width: 0;
  max-width: none;
  max-height: none;
  border-top: 1px solid #e3e7e9 !important;
  width: 100%;
}
.dtCore tbody tr:hover td {
  background: #eaeaea;
}
.dtCore thead tr th {
  height: 1px;
  background: #edf1f4;
  color: #525252;
  border-left: 1px solid #e3e7e9 !important;
  border-right: 1px solid #e3e7e9 !important;
  border-bottom: 1px solid #e3e7e9 !important;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
}
.dtCore thead tr th.dt-fill {
  border-bottom: none !important;
}
.dtCore thead tr th.dt-header-cell {
  position: relative;
}
.dtCore thead tr th.dt-header-cell.bare {
  padding: 5px;
}
.dt-scroll {
  overflow: auto;
  position: relative;
}
.dt-scroll .dt {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.grid-title {
  vertical-align: middle;
  justify-content: center;
  padding-left: 8px;
}
.download-block {
  border: 1px solid #DADADA;
  margin-bottom: 8px;
}
.download-block .name {
  justify-content: center;
  padding-left: 8px;
}
.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.grid-overlay h3 {
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}
.grid-overlay p {
  text-align: center;
}
.grid-column-toggle {
  display: block;
  margin: 3px 0;
  cursor: pointer;
  padding: 3px;
}
.grid-column-toggle:hover {
  background: #DADADA;
}
/*# sourceMappingURL=datagrid.css.map */