.date-picker {
    display: flex;
    flex-direction: row;

    .icon {
        max-width: 25px;
        text-align: center;
        justify-content: center;
    }

    input {
        font-size: 12px;
        border: 1px solid transparent;
        width: 100%;
        box-sizing: border-box;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        padding: 5px;

        &:focus {
            outline: none;
        }
    }


    .clear-date {
        justify-content: center;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: indianred;
        }
    }

}
