.date-picker {
  display: flex;
  flex-direction: row;
}
.date-picker .icon {
  max-width: 25px;
  text-align: center;
  justify-content: center;
}
.date-picker input {
  font-size: 12px;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px;
}
.date-picker input:focus {
  outline: none;
}
.date-picker .clear-date {
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.date-picker .clear-date:hover {
  background: indianred;
}
/*# sourceMappingURL=date.css.map */