.forecast-item {
  display: flex;
  margin: 8px;
  border: 1px solid #DADADA;
}
.forecast-item .forecast-title {
  padding: 8px;
  font-size: 14px;
  color: #DADADA;
  background: #6e6e6e;
}
/*# sourceMappingURL=forecast.css.map */