.groupbar {
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid @borderColour;

  .bar-item {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-right: @borderColour;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: @textColour;
    font-weight: 400;
    -webkit-transition: background .1s ease, box-shadow .1s ease, color .1s ease;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;

    &:hover {
      background: white;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: rgba(34, 36, 38, .1);
    }

    &:after {
      visibility: hidden;
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      //background: 0 0;
      background: white;
      margin: .5px 0 0;
      width: .57142857em;
      height: .57142857em;
      border: none;
      border-bottom: white;
      border-right: white;
      //border-bottom: 1px solid #d4d4d5;
      //border-right: 1px solid #d4d4d5;
      z-index: 2;
      -webkit-transition: background .1s ease;
      transition: background .1s ease;
    }

    &.active {
      //background: rgba(0,0,0,.1);
      background: white;
      //color: rgba(0,0,0,.95);
      color: @textColour;
      font-weight: 400;
      box-shadow: none;

      &:after {
        background-color: white;
        visibility: visible;
      }
    }
  }
}
