// Dashboard list item

.dash-list-item {
  display: block;
  margin: 8px;
  padding: 5px;
  color: @lightTextColour;
  transition: background 0.5s ease;

  &:hover {
    background: rgba(0,0,0,0.5);
  }

  &.sub-item {
    margin-left: 32px;
  }
}
