.ide-panel {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.ide-panel .closer {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.ide-panel .closer .closer-icon {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #FFFFFF;
}
.ide-panel .panel-main {
  background: #FFFFFF;
}
.ide-panel .panel-main-minimal {
  max-width: 30%;
  width: 30%;
  background: #FFFFFF;
  border-left: 1px solid #DADADA;
}
/*# sourceMappingURL=panel.css.map */