.reporting-item {
    border-bottom: 1px solid #f9f9f9;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    transition: background 0.5s ease;

    &:hover {
        background: #f9f9f9;
    }


    .reporting-circle {
        width: 30px;
        height: 30px;
        border-radius: 60px;
        border: 6px solid #DADADA;
        max-width: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
        text-align: center;
        justify-content: center;

        &:hover {
            border-color: lightblue;
        }

        &.complete {
            border-color: lightgreen;
        }

        &.overdue {
            border-color: indianred;
        }
    }
}
