.reporting-item {
  border-bottom: 1px solid #f9f9f9;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  padding: 8px 8px;
  transition: background 0.5s ease;
}
.reporting-item:hover {
  background: #f9f9f9;
}
.reporting-item .reporting-circle {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  border: 6px solid #DADADA;
  max-width: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.reporting-item .reporting-circle:hover {
  border-color: lightblue;
}
.reporting-item .reporting-circle.complete {
  border-color: lightgreen;
}
.reporting-item .reporting-circle.overdue {
  border-color: indianred;
}
/*# sourceMappingURL=record.css.map */