.risk-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.risk-table .risk-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.risk-table .risk-row .header {
  min-height: 40px;
  max-height: 40px;
  font-size: 12px;
  text-align: right;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 5px;
  flex: 1;
}
.risk-table .risk-row .cell {
  min-height: 40px;
  max-height: 40px;
  cursor: pointer;
  border: 1px solid white;
  flex: 1;
}
.risk-table .risk-row .cell .icon {
  color: #FFF;
  display: none;
  text-align: center;
  font-size: 22px;
  padding-top: 5px;
}
.risk-table .risk-row .cell:hover,
.risk-table .risk-row .cell.active {
  border: 1px solid #DADADA;
}
.risk-table .risk-row .cell:hover .icon,
.risk-table .risk-row .cell.active .icon {
  display: block;
}
.risk-table .risk-row .cell.green {
  background: lightgreen;
}
.risk-table .risk-row .cell.orange {
  background: orange;
}
.risk-table .risk-row .cell.red {
  background: darkred;
}
.risk-table .risk-row .cell.yellow {
  background: yellow;
}
/*# sourceMappingURL=risk.css.map */