
.risk-table {
    width: 100%;
    display: flex;
    flex-direction: column;

    .risk-row {
        display: flex;
        flex: 1;
        flex-direction: row;

        .header {
            min-height: 40px;
            max-height: 40px;
            font-size: 12px;
            text-align: right;
            vertical-align: top;
            padding-top: 5px;
            padding-right: 5px;
            flex: 1;
        }

        .cell {
            min-height: 40px;
            max-height: 40px;
            cursor: pointer;
            border: 1px solid white;
            flex: 1;

            .icon {
                color: #FFF;
                display: none;
                text-align: center;
                font-size: 22px;
                padding-top: 5px;
            }

            &:hover, &.active {
                border: 1px solid #DADADA;

                .icon {
                    display: block;
                }
            }

            &.green {
                background: lightgreen;
            }

            &.orange {
                background: orange;
            }

            &.red {
                background: darkred;
            }

            &.yellow {
                background: yellow;
            }
        }
    }

}
