.tabbar {
    display: flex;
    border-bottom: 1px solid @borderColour;
    background: @toolbarBackgroundColour;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    flex-direction: row;

    .tabbar-overflow {
        display: block;
        width: 20px;
        max-width: 20px;
        border-right: 1px solid @borderColour;
        background: #CCCCCC;
        text-align: center;
        padding: 7px 3px;
        cursor: pointer;
    }

    .bar-item {
        display: block;
        float: left;
        font-size: 10px;
        flex: 1;
        cursor: pointer;
        background: #F2F2F2;
        min-width: 35px;
        border-right: 1px solid @borderColour;
        user-select: none;

        .name {
            padding: 10px;
        }

        .icon {
            padding: 8px;

            &:hover {
                background: #333333;
            }
        }

        &:hover {
            background: white;
        }

        &.active {
            background: #333333;
            color: #DADADA;
        }

        &.main {
            max-width: 24px;
            min-width: 24px;
            width: 24px;
            text-align: center;
        }

        &.accounts {
            min-width: 24px;
            max-width: 24px;
            width: 24px;
            text-align: center;
            background: #333333;
            color: #DADADA;
        }
    }
}
