.tree-node {
  display: block;
}
.tree-node .item {
  margin: 4px 8px;
  border-left: 3px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  font-size: 11px;
}
.tree-node .item .grip {
  max-width: 25px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 0 8px 8px;
  color: #F2F2F2;
  transition: color 0.5s ease;
}
.tree-node .item .grip:hover {
  color: lightseagreen;
}
.tree-node .item .label {
  justify-content: center;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  color: #F2F2F2;
  transition: color 0.5s ease;
}
.tree-node .item .label:hover {
  color: lightseagreen;
}
.tree-node .tree-children {
  margin-left: 25px;
}
.search {
  margin: 14px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 3px;
}
.search .search-inner {
  border-radius: 3px;
}
.search .search-left {
  text-align: center;
  padding-top: 7px;
  color: #F2F2F2;
}
.search input[type="text"] {
  border: none !important;
  outline: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: block;
  color: #adadad;
  clear: both;
  text-indent: 5px;
  padding: 7px 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background: #3c3f41;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #505152;
}
/*# sourceMappingURL=trees.css.map */