.ide-tabs {
    user-select: none;

    border-left: 1px solid rgba(255, 255, 255, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 -1px 0 #000000;

    -webkit-transform-origin: 17px 18px;
    -moz-transform-origin: 17px 18px;
    -o-transform-origin: 17px 18px;
    -ms-transform-origin: 17px 18px;
    transform-origin: 17px 18px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    background: rgb(47, 49, 54);
    height: 34px;
    white-space: nowrap;
    position: absolute;
    width: 10000px;
    z-index: 10000;
    box-sizing: content-box;

    .ide-tab {
        box-sizing: content-box;
        padding: 10px 10px 6px 10px;
        display: inline-block;
        white-space: nowrap;
        cursor: default;
        margin-left: -1px;
        margin-right: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        text-shadow: 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        height: 34px;
        color: #F1F1F1;
        line-height: 46px;

        span {
            color: #FFF;
        }
    }

    .ide-tab-down, .ide-tab:hover {
        color: #f1f1f1;
        background: rgb(54, 57, 63);
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
        margin-left: -2px;
        margin-right: 1px;
        vertical-align: top;
        margin-top: -2px;
        padding-bottom: 8px;
        height: 34px;
    }
}
