<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - Report Viewer</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    <style>
        .loading-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            margin-left: -250px;
            margin-top: -100px;
            text-align: center;
        }

        .loading-screen .title {
            font-weight: bold;
            font-size: 30px;
            color: #CCC;
            margin-bottom: 16px;
        }

        .loading-screen p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #CCC;
        }

        .loading-screen .team {
            color: #CCCCCC;
        }
    </style>


    {% if pdf %}
    <link rel="stylesheet" href="/static/themes/flex/style.css" type="text/css"/>
    {% else %}
    <link rel="stylesheet" href="/static/themes/flex/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/static/themes/flex/style.css" media="print" type="text/css"/>
    {% endif %}

    <link href='/static/vendor/mapbox/mapbox-gl.css' rel='stylesheet' type="text/css"/>

    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>

    <script type="application/json" id="template">{{ template | safe | json_encode() }}</script>
    <script type="application/json" id="location_name">{{ location_name | safe | json_encode() }}</script>
    <script type="application/json" id="report">{{ record | safe | json_encode() }}</script>
    <script type="application/json" id="account">{{ account | safe | json_encode() }}</script>

    <style>
        * {
            -webkit-print-color-adjust: exact !important;
            color-adjust: exact !important;
        }

    </style>

    <script type="text/javascript">
        window._isPdf = true;

        let record = document.getElementById("report").innerText;
        if (!record) record = "None";

        window.dt = {
            template_id: "{{ template_id }}",
            report_date: "{{ report_date }}",
            location_id: "{{ location_id }}",
            pdf: "{{ pdf }}",
            inline: "{{ inline }}",
            account: JSON.parse(document.getElementById("account").innerText || '{}'),
            template: JSON.parse(document.getElementById("template").innerText || '{}'),
            location_name: JSON.parse(document.getElementById("location_name").innerText || '{}'),
            report: record,
            orientation: "{{ orientation }}",
            token: "{{ token }}"
        };

        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            }
        }

        let elem = document.getElementById("template").parentNode;
        ["template", "location_name", "report", "account"].forEach(item => {
            elem.removeChild(document.getElementById(item));
        });

        window.CKEDITOR_BASEPATH = "/static/vendor/ckeditor/";
    </script>
</head>
<body>


<div id="report" style="background: white;">
    <div class="report-progress" id="progress-wrapper">
        <div class="report-progress-inner" id="progress"></div>
    </div>
    <div class="report-template-wrapper" id="report-content">
        {{ template_content | safe }}
    </div>
</div>


<script src="/static/vendor/jquery.min.js" type="application/javascript"></script>
<script src="/static/vendor/underscore.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/highstock.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/funnel.js"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/heatmap.js"></script>
<script src="/static/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.dtd.a.div = true;
    CKEDITOR.dtd.p.div = true;
    CKEDITOR.dtd.span.div = true;
</script>

<script src="/static/bundles/ewars-dev.js"></script>
<script src="/static/bundles/report-dev.js"></script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        if (window.dt.pdf == "True") {
            document.getElementById("progress-wrapper").style.display = "none";
            if (window.dt.orientation == "PORTRAIT") {
                document.getElementById("report-content").style.width = "210mm";
            } else {
                document.getElementById("report-content").style.width = "370mm";
            }
        }
        window.Report.init();
    }, false);

</script>


</body>
</html>
