.canvas {
  padding: 10px;
  background-color: #CCC;
}

#cerebro {
  display: none;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 999999;
  width: 700px;
  background-color: #FFF;
  color: #333;
  font-size: 12px;
  max-width: 1000px;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  border: 3px solid #edf1f4;


  .apps {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 300px;
    overflow-y: auto;

    .app-category {
      display: block;
      floaT: left;
      width: 100%;
    }

    .mini-app-link {
      display: block;
      float: left;
      width: 168px;
      max-width: 33.33%;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      padding: 0;

      .wrapper {
        padding: 5px;
      }

      &:hover {
        background-color: #333;

        color: @white !important;

        p, i, .wrapper {
          color: @white !important;
        }
      }

      p {
        font-weight: normal;
        color: rgb(110, 110, 110);
      }

      &:hover {
        color: #FFF;
      }

    }

    .mini-app {
      display: block;
      width: 162px;
      height: 80px;
      float: left;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      padding: 0;
      font-weight: bold;
      background: #FFFFFF;
      margin-right: 10px;
      margin-bottom: 10px;

      .wrapper {
        padding: 10px;
      }

      &:hover {
        color: @white;
        background: #333;

        p, .wrapper, i {
          color: @white;
        }
      }

      p {
        font-weight: normal;
        color: rgb(110, 110, 110);
        padding: 10px 0 0 0;
        margin: 0;
        line-height: 130%;
        font-size: 10px;
      }

      &:hover {
        color: #FFF;
      }
    }
  }

  .categories {
    display: block;

    h3 {
      display: block;
      margin-bottom: 0;
      font-size: 1em;

      a {
        color: #333;
      }
    }
  }

  .categories {
    display: block;


    ul {
      margin: 0;
      padding: 0;
      display: block;

      li {
        list-style: none;
        display: block;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 7px 0 7px 7px;
        margin-left: 8px;
        cursor: pointer;

        &:hover {
          background: #f4f4f4;
        }

      }
    }
  }
}