.chart-widget {
  border: 1px solid @label-border;
  margin-top: 10px;

  .chart-header {
    border-bottom: 1px solid @label-border;
    padding: 10px;

    &:hover > .btn-group {
      opacity: 1;
    }

    .btn-group {
      opacity: 0;
    }
  }

}

.chart-table-container {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;

  h4 {
    display: block;
    padding: 8px;
  }

  .chart-table-wrapper {
    width: inherit;
    min-height: 100%;
    overflow-x: auto;

    .chart-table {
      min-width: 100%;

      tr {
        td, th {
          border: 1px solid @label-border;
          padding: 5px;
          white-space: nowrap;
          text-align: right;
        }

        td {
          &:nth-child(odd) {
            background-color: #f5f5f5;
          }
        }
      }

      thead {
        tr {
          th {
            background-color: @grey;
            color: @white;
            text-align: right;
            text-shadow: -1px 0px 0px 0px #CCC;
          }
        }
      }

      tbody {
        tr {

          &:nth-child(even) {
            td {
              background-color: #f5f5f5;
            }
          }

          th, td {
            border-collapse: collapse;
          }

          th {
            background-color: @label-bottom;
            color: @grey;
            width: 150px;
            text-align: right;
          }

          td {
            width: 120px;
          }
        }
      }
    }
  }
}