.help-document {
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  border-left: 1px solid #F2F2f2;
  border-right: 1px solid #F2F2F2;

  h1 {
    display: block;
    background: #333;
    color: #F2F2F2;
    padding: 10px;
  }

  table {
    tr {
      th {
        background: #333;
        color: #F2F2F2;
        padding: 10px;
      }

      td {
        padding: 10px;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
}