.login {
  background: #F2F2F2;

  
}


.app-public {
  height: 100%;
  overflow-y: auto;
  display: block;
  background: #FFF;

  #app {
    height: 100%;
    display: block;
    overflow-y: auto;
  }
}

.login-wrapper {
  width: 100%;
  height: 100%;
  background-color: #edf1f4;
  display: block;
  position: relative;

  .login-header {
    display: block;
    position: relative;
    background-color: #FFF;
    height: 220px;

    a {
      font-size: 0.8em;
      position: absolute;
      top: 10px;
      left: 20px;
    }

    .app-title {
      display: block;
      padding-top: 60px;
      margin: 0px auto 0 auto;
      width: 330px;

      h4 {
        margin-bottom: 0;
        text-indent: 5px;
      }

      h3 {
        line-height: 100%;
        margin-top: 0;
        font-size: 6em;
        margin-bottom: 0;
      }
    }
  }

  .login-tabs {
    display: block;

    a {
      display: block;
      float: left;
      background-color: @label-border;
      padding: 10px;
      margin-right: 10px;
      text-align: center;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      color: #333;

      &:hover {
        text-decoration: none;
        color: @whoBlue;
        background-color: @white;
      }

      &.active {
        background-color: @white;
        color: @whoBlue;
      }
    }
  }

  .loginBox {
    text-align: left;
    color: #333;
    padding: 20px;
    padding-top: 60px;
    margin: 0 auto;
    width: 300px;
    display: block;

    select {
      width: 100%;
    }

    .terms {
      font-size: 0.8em;
    }

    .login-btn {
      border-radius: 0;
      padding: 10px 30px;
      font-size: 0.9em;
      text-align: center;
      background-color: @whoBlue;
      border-width: 0;
      color: @white;
      display: block;
      margin: 10px auto 20px auto;
      height: auto;

      &:hover {
        background-color: darkgreen;
        color: @white;
      }
    }

    .forgot-pass-link {
      display: block;
      text-align: center;
    }
  }

  .logo {
    text-align: center;
    margin-top: 20px;
    opacity: 0.6;
  }
}

.error {
  background-color: #ffaeae;
  color: darkred;
  padding: 10px;
  display: block;
  font-size: 12px;
  margin-bottom: 20px;

  span {
    color: darkred;
  }
}

.login-body {

  .login-header {
    display: block;
    border-bottom: 1px solid @label-border;
    padding: 18px;

    .brand {
      font-weight: bold;
      text-align: center;
      font-size: 22px;
    }
  }

  .login-footer {
    display: block;
    border-top: 1px solid @label-border;
    padding-top: 18px;
    .login-container {
      display: block;
      width: 980px;
      margin: 0 auto;
    }
  }

  .login-main {
    display: block;

    .login-container {
      display: block;
      width: 980px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px;

      .details {
        width: 980-326px;
        display: block;
        padding-right: 18px;

        .description {
          p {
            font-size: 14px;
            display: block;
            padding-bottom: 8px;
          }
        }
      }

      .login-controls {
        display: block;

        .login-control {
          background: #Fafafa;
          display: block;
          border: 1px solid @label-bottom;
          border-radius: 3px;
          padding: 18px;
          margin-bottom: 18px;

          h3 {
            font-size: 25px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.login-app-title {
  font-size: 60px;
  margin-bottom: 18px;
  font-weight: bold;
}

.login-app-sub-title {
  font-size: 20px;
  margin-bottom: 15px;
}


h1 {
  &.register {
    font-weight: bold;
    font-size: 25px;
    margin: 0 8px 16px 8px;
  }
}

h2 {
  &.register {
    font-size: 20px;
    font-weight: bold;
    margin: 0 8px 8px 8px;
  }
}

h3 {
  &.register {
    font-size: 20px;
    margin: 0 8px 16px 8px;
  }
}

p {
  &.register {
    font-size: 16px;
    margin: 0 8px 16px 8px;
  }
}

ul.register {
  li.bolder {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  li {
    margin-bottom: 12px;
  }
}

.registration-wizard {
  width: 790px;
  margin: 30px auto;

  .hsplit-box {
    display: flex;
    flex-direction: row;

    .ide-setting-label {
      flex: 1;
      background: @label-bottom;
      padding: 8px;
      vertical-align: middle;
      font-weight: bold;
      border-bottom: 3px solid white;
    }

    .ide-setting-control {
      flex: 2;
      padding: 8px;
      border-bottom: 3px solid white;
    }
  }

  .location-tree {
    display: block;

    .loc-node {
      display: block;

      .wrapper {
        display: block;
        border: 1px solid @label-border;

        .ide-layout, .ide-col, .ide-row {
          background: #FFF !important;
          color: #333 !important;
        }

        .ide-col {
          padding: 8px;
        }

        .handle {
          cursor: pointer;
          border-right: 1px solid @label-border;

          &:hover {
            background: #333 !important;
            color: @white !important;
          }
        }

        .selectable {
          cursor: pointer;

          &:hover, &.active {
            background: #333 !important;
            color: @white !important;
          }
        }

        &.clickable {
          cursor: pointer;
        }
      }

      .loc-node {
        margin-left: 8px;
      }
    }
  }

  .select-list {
    display: block;
    max-height: 300px;
    overflow-y: scroll;

    .item {
      display: block;
      margin-bottom: 8px;
      cursor: pointer;
      position: relative;

      &:hover, &.active {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-color: #333;

        .wrapper {

          .icon {
            background: #333;
            color: white;
            border-color: #333;
          }
        }
      }

      .wrapper {
        border: 1px solid @label-border;
        display: flex;
      }

      .icon {
        font-size: 35px;
        text-align: center;
        width: 60px;
        min-width: 60px;
        background: #FFFFFF;
        max-width: 60px;
        padding-top: 8px;
        border-right: 3px solid @label-border;
      }

      .details {
        padding: 8px;
        .title {
          font-weight: bold;
          display: block;
          margin-bottom: 5px;
        }

        .sub-title {
          display: block;
        }
      }
    }

  }

}

.login-wrapper {
  display: block;
  background: rgb(232, 237, 241);
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .login-container {
    display: block;
    height: 100%;
    position: relative;

    .login-controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      padding: 10px;
      height: 100%;

      .login-control {
        position: absolute;
        top: 228px;
        left: 50%;
        margin-left: -125px;
        width: 250px;

        h3 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 16px;
        }

        a {
          display: block;
          text-align: center;
          margin-bottom: 20px;
        }

        .button {
          display: block;
          background: rgb(30, 142, 217);
          text-align: center;
          padding: 8px 40px;
          width: 120px;
          margin: 0 auto 20px auto;
          color: #FFFFFF;
          cursor: pointer;

          &:hover {
            background: #333;
          }
        }
      }
    }

    .instance-details {
      position: absolute;
      top: 0;
      right: 0;
      width: 55%;
      height: 100%;
      background: #FFF;

      .access-details {
        display: block;
        margin-bottom: 20px;

        .logo {
          width: 80px;
          float: left;
        }

        .names {
          display: block;
          float: left;

          .acc-name {
            font-size: 25px;
            font-weight: normal;
          }

          .instance-name {
            font-size: 60px;
            font-weight: normal;
          }
        }
      }

      p {
        font-size: 16px;
        padding-bottom: 8px;
        line-height: 120%;
      }

      .details {
        width: 450px;
        position: absolute;
        left: 50%;
        margin-left: -225px;
        top: 120px;
      }

      .copyright {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #CCC;
      }
    }

  }
}

.reg-item {
  border: @inputBorder;

  .result-name {
    padding: 8px;
  }

  .other {
    padding: 2px;
  }

}

.reg-account {
  display: block;
  border: @inputBorder;

  .search-wrapper {
    display: block;
    padding: 10px;
    border-bottom: @inputBorder;
  }

  .items {
    padding: 10px;
    overflow-y: auto;

    .item {
      display: block;
      border: @inputBorder;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 5px;

      &:hover {
        background: #333;
        color: #F2F2F2;
      }
    }
  }

}