.badge {
  border: 1px solid #333;
  background: white;
  border-radius: 10px;
  padding: 3px;
  display: block;
  float: right;
  margin-top: -1px;
  font-size: 10px;
  color: @defaultTxtColor;
}

.inbox-meta {
  background: #333333;
  padding: 8px;
  color: #FFFFFF;
  border-radius: 60px;
  font-size: 12px;

}

.inbox-link {
  padding-bottom: 6px !important;

  &:hover {
    background: transparent;
    .inbox-meta {
      background: #F2F2F2;
      color: #333;
    }
  }

  .fa-inb {
    display: block;
    float: left;
  }

  .inbox-meta {
    display: block;
    float: left;
    margin-top: -6px;
  }
}

.consequences {
  display: block;

  li {
    display: block;
    margin: 0 0 5px 0;
  }
}

.error-wrapper {
  position: relative !important;
  margin-top: 10px;
  background-color: red;
  border-radius: 8px;

  .error-inner {
    display: block;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;

    color: white;
  }
}

.field-drop-area {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  text-align: center;
  padding: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
}

.select-custom {
  display: block;
  width: 100%;
  position: relative;

  select {
    background: @inputBgd;
    border: @inputBorder;
    font-size: 12px;
    width: 100%;
    color: @defaultTxtColor;
    border-radius: 3px !important;
    min-width: 100px;
  }
}

.select-custom::-ms-expand {
  display: none;
}

.select-custom:after {
  content: '›';
  font-size: 30px;
  color: @defaultTxtColor;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: -1px;
  padding: 0 0 2px;
  /* border-bottom: 1px solid #999; */
  position: absolute;
  pointer-events: none;
}