.sub-nav {
  display: block;
  float: left;
  height: 100%;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  background: #86898f;
  color: @white;

  &.overflow {
    overflow-y: scroll;
    padding-bottom: 30px;
  }

  &.light {
    color: #333 !important;
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #000;

    .content {
      color: #333;

      h1, h2, h3, h4, h5 {
        color: #333;
      }

    }
  }

  .btn-group {
    margin: 20px 10px 10px 10px;
  }

  .sub-nav-header {
    background-color: #2b2b2b;
    display: block;
    min-height: 100px;
  }

  .content {
    display: block;
    color: @white;
    padding: 5px 15px;

    h1, h2, h3, h4, h5, p {
      color: @white;

    }

    p {
      line-height: 1.4em;
    }

    dl {
      margin: 0;
      padding: 0;

      dt {
        display: block;
        font-size: 0.8em;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      dd {
        display: inline-block;
        float: right;
        padding: 3px;
        background-color: #000;
        margin-top: -32px;
        border-radius: 6px;
        margin-bottom: 10px;
        font-size: 0.8em;
        color: @white;
      }
    }

    ul {
      margin: 0 0 10px 0px;
      padding: 0;

      li:first-child > a {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      li:last-child > a {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      li {
        list-style: none;
        display: block;

        a {
          display: block;
          color: @white;
          font-size: 0.8em;
          padding: 5px 5px;
          background-color: #3e3e3e;
          border-bottom: 1px solid #272727;

          &:hover {
            text-decoration: none;
            background-color: @whoBlue;
            color: #FFF;
            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          }

          span {
            color: @white;
          }
        }

        ul {
          margin-left: 10px;
          margin-bottom: 5px;

          li:first-child > a {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }

      }
    }
  }

  .sub-nav-items {
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style: none;
      border-bottom: 1px solid #3B4F5F;

      a {
        display: block;
        padding: 10px;
        background: #2d3d49; /* Old browsers */
        background: -moz-linear-gradient(left, #2d3d49 0%, #2d3d49 86%, #193244 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2d3d49), color-stop(86%, #2d3d49), color-stop(100%, #193244)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #2d3d49 0%, #2d3d49 86%, #193244 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #2d3d49 0%, #2d3d49 86%, #193244 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #2d3d49 0%, #2d3d49 86%, #193244 100%); /* IE10+ */
        background: linear-gradient(to right, #2d3d49 0%, #2d3d49 86%, #193244 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3d49', endColorstr='#193244', GradientType=1); /* IE6-9 */
        font-size: 14px;
        color: @white;

        .nav-icon {
          display: block;
          width: 20px;
          float: left;
          text-align: center;
          padding-right: 5px;
        }

        &:hover, &.active, &:active {
          color: @whoBlue;

          span {
            color: @whoBlue;
          }

        }

        span {
          color: @white;
        }

        &:hover {
          text-decoration: none;

        }

      }
    }

  }

}