.week-picker {
  display: block;
  position: relative;

  &:hover {
    .current {
      .handle {
        background-color: @whoBlue;
        color: @white;
      }
    }
  }

  .current {
    display: block;
    border: 1px solid @label-border;
    cursor: pointer;

    .current_value {
      padding: 8px 8px 8px 8px;
      display: block;
      float: none;
      width: auto;
    }

    .handle {
      display: block;
      border-left: 1px solid @label-bottom;
      float: right;
      width: 50px;
      padding: 8px;
    }
  }

  .picker {
    position: absolute;
    top: 36px;
    right: 0;
    width: 230px;
    background-color: @white;
    border-radius: 3px;
    padding: 10px;
    z-index: 9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .month {
      display: block;
      float: left;
      width: 100%;

      .header {
        display: block;
        margin-bottom: 8px;
        color: #333 !important;

        a {
          display: block;
          float: left;
        }

        .monthLabel {
          text-align: center;
        }
      }

      .body {
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        border-top: 1px solid @label-border;

        .row {
          display: block;
          float: left;
          width: 100%;
          border-left: 1px solid @label-border;

          &.disabled {
            background-color: @lightRed;

            .week {
              background-color: @lightRed;
              color: @red;
            }

            .outer {
              background-color: @lightRed;
              color: @red;
            }

            .day {
              color: @red;

              &.outer {
                background-color: transparent;
                color: @white;
              }
            }
          }

          &.active {
            background-color: @whoBlue;

            .week {
              background-color: @grey;
              color: @white;
            }

            .outer {
              background-color: transparent;
              color: @white;
            }

            .day {
              color: @white;

              &.outer {
                background-color: transparent;
                color: #333;
              }
            }
          }

          &.enabled {
            cursor: pointer;

            &:hover {
              background-color: @whoBlue;

              .week {
                background-color: @grey;
                color: @white;
              }

              .outer {
                background-color: transparent;
              }

              .day {
                background-color: transparent;
                color: @white;
              }
            }
          }

          &.head {
            .day {
              background-color: @grey;
              color: @white;
            }

            .week {
              background-color: @lightRed;
              color: red;
            }
          }

          .day, .week {
            text-align: center;
            display: block;
            float: left;
            width: 100% / 8;
            padding-top: 5px;
            padding-bottom: 5px;
            border-right: 1px solid @label-border;
            border-bottom: 1px solid @label-border;
            font-size: 12px;
            color: #333;

            &.outer {
              color: #333;
              background-color: @label-bottom;
            }
          }

          .day {

          }

          .week {
            background-color: @label-bottom;
          }
        }
      }

    }
  }
}