{% extends "emails/base.html" %}
{% block content %}
 <p><strong>{{user_name}} [{{email}}]</strong> has recently requested a user account in EWARS which requires your approval:</p>

<a href="http://{host}/task/{task_id}">View task here</a>

<p>Or you can view this task from within your EWARS app in the Tasks section.</p>
{% endblock %}
