<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }

        .wrapper {
            width: 980px;
            margin: 10px auto;
        }

        .api {
            border: 1px solid #252525;
            margin-bottom: 8px;
        }

        .header {
            padding: 8px;
            font-weight: bold;
            font-size: 14px;
            border-bottom: 1px solid #252525;
            background: #252525;
            color: #FFFFFF;
        }

        .method {
            padding: 3px 8px;
            border-bottom: 1px solid #252525;
        }

        .description {
            padding: 8px;
        }

        .tabler {

        }

        .tabler td {
            vertical-align: top;
        }

        .menu {

        }

        .menu ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu ul li {
            display: block;
        }

        .menu ul li a {
            display: block;
            color: #333;
            text-decoration: none;
            margin-bottom: 3px;
        }



    </style>
</head>
<body>

<div class="wrapper">
    <table width="100%" class="tabler">

        <tr>
            <td width="25%">
                <div class="menu">
                    <ul>
                        {% for item in items %}

                        <li><a href="#{{ item[0] }}">{{ item[0] }}</a></li>

                        {% end %}
                    </ul>
                </div>

            </td>
            <td>
                {% for item in items %}

                <div class="api" id="{{ item[0] }}">
                    <div class="header">{{ item[0] }}</div>
                    <div class="method">{{ item[1] }} {{  item[3] }}</div>
                    <div class="description">{{ item[2] }}</div>
                </div>

                {% end %}

            </td>
        </tr>
    </table>
</div>

</body>
</html>